<div class="row row-center">
	<div class="col-sm-10 col-center">
		<div class="panel panel-default" style="margin-bottom: 5px; margin-top: 5px;">
			<div class="panel-heading">
				<h2 class="panel-title">Incluir Registro</h2>
			</div>

			<div class="panel-body fixed-panel">

			<form name="formIncluirRegistro" class="fundo-formulario">
			
			<div layout="column" layout-padding layout-gt-sm="row">
			  <div class="md-block" flex-gt-sm="30">
			        <label for="cgcImob">CGC IMOB</label>
			        <select class="form-control" id="cgcImob" ng-tabindex="1" name="novoReg.cgcImob" 
			          data-ng-options="cgc as cgc.nome for cgc in listaCGC_Imob"
			          ng-model="novoReg.cgcImob" requerido focus>
			        </select>
			  </div>

			  <div class="md-block" flex-gt-sm="40">
          		<label for="inquilino">Inquilino</label>
          		<input type="text" id="inquilino" upper name="novoReg.inquilino" requerido
          		maxlength="30" class="form-control" ng-model="novoReg.inquilino" ng-tabindex="2">
        	</div>

		</div>
		
		<div layout="column" layout-padding layout-gt-sm="row">
		<div class="md-block" flex-gt-sm="10">
	            <label for="tipoInquilino">Tipo Inquilino</label>
	            <select class="form-control" id="tipoInquilino" ng-tabindex="3" flex-gt-sm="100"
	            	ng-model="novoReg.tipoInquilino" requerido>
	              <option value="f">P.Física</option>
	              <option value="j">P.Jurídica</option>
	                      
	            </select>
     	   </div>

     	  <div class="md-block" flex-gt-sm="20">
		      <label for="cpfInquilino">CPF/CNPJ Inquilino</label>
		      <input mobile="number"  mascara-cpfcnpj  id="cpfInquilino" name="novoReg.cpfInquilino"
		      class="form-control" ng-model="novoReg.cpfInquilino" ng-tabindex="4" requerido>
	     </div>
		</div>
		
		</form>

		</div>

	</div>
	
	<!-- Botoes -->
	<div layout="row" layout-align="center center">
     <md-button class="md-raised" ng-click="gravarRegistro()" style="background-color: green; color: white" >
     Gravar <span aria-hidden="true"></span></md-button>

    <md-button class="md-raised md-warn md-hue-2"  ng-click="irParaListagem()">
    Cancelar <span aria-hidden="true"></span></md-button>
  </div> 
		
  </div>
</div>