<style>
.pendente{
  color: #CC6600!important;
}
</style>

  <h2>Cadastros de Fiança Locatícia</h2>
  <hr/>

  <audio id="notificacao" preload="auto">
    <source src="./assets/audio/alerta.mp3" type="audio/mpeg">
  </audio>
          
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-1">CÓDIGO</th>
        <th class="col-sm-3">CLIENTE</th>
        <th class="col-sm-2">CPF/CNPJ</th>
        <th class="col-sm-2">IMOBILIÁRIA</th>
        <th class="col-sm-1">DATA</th>
         <th class="col-sm-1">HORA</th>
        <th class="col-sm-2">#</th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="registro in listaTabela | filter:q | itemsPerPage: 20" data-ng-class="{'pendente': registro.data_aceite_analise == '0000-00-00 00:00:00' }">
        <td class="col-sm-1">{{registro.codigo}}</td>
        <td class="col-sm-3">{{registro.inquilino}}</td>
        <td class="col-sm-2">{{registro.CPF_inquilino | cpfcnpj}}</td>
        <td class="col-sm-2">{{registro.fantasia}}</td> 
        <td class="col-sm-1">{{registro.data_transm ? (registro.data_transm | date: "dd/MM/yyyy" : "UTC") : '--'}}</td>
        <td class="col-sm-1">{{registro.hora_transm}}</td>
        <td class="col-sm-2">
        	<button type="button" class="btn btn-info" ng-click="detalhar(registro)">Detalhar</button>
        	<button type="button" class="btn btn-warning" ng-click="registrarAtendimento(registro)" ng-if="registro.usuario_analise == '0' ">Registrar</button>
        </td>       
      </tr>
        
    </tbody>
  </table>

  <div class="panel-footer">
      <div class="row">
        <div class="col-sm-4">
          <div class="input-group">
              <span class="input-group-addon"> <span
                class="glyphicon glyphicon-search"></span>
              </span> <input id="inputFiltro" type="text" data-focus class="form-control"
                placeholder="Digite a Pesquisa" data-ng-model="q.inquilino">
              </div>
          </div>
                            
      </div>
    </div>

    <dir-pagination-controls max-size="20"></dir-pagination-controls>

    <!--Link da documentação da paginação = https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination -->
