<style>
.pendente{
  color: #CC6600!important;
}

.circulo{
  border-radius: 100%;
  border: 1px solid black;
  width: 23px;
  height: 23px;
  background-color: rgb(255, 241, 74);
}
.circulo-vermelho{
  background-color: rgb(221,44,0) !important;
  cursor: default;
}

.circulo-verde{
  background-color: rgb(29, 171, 27) !important;
  cursor: default;
}

.circulo-cinza{
  background-color: rgba(179, 179, 179, 0.87) !important;
  cursor: default;
}

.cor-titulo{
	color: #005E9E
}

div {
  text-align: left;
}

.texto-azul{
	color: #007bff;
	font-weight: 600;
}

.texto-cinza{
	color: #999999;
	font-style: italic;
}

</style>

  <div class="row">
      <div class="col-md-12 text-right">
        <h2><label style="color: #FF6C00">Gerenciador de Seguro Fiança</label></h2>
      </div>  
      
       <div class="col-md-12 text-right">
       <md-button class="md-raised md-primary" ng-click="incluirRegistro()" style="margin-top: 20px;">Incluir 
        <span aria-hidden="true"></span>
      </md-button>
      </div>      
      
  </div>
  
  <div style = "text-align:center;margin-bottom:10px;" data-ng-if="exibirMsgListaCompleta">
      <span style = "margin:auto;font-size:9pt;color:#990000;text-align:center;background-color:#ddd;padding:5px;margin:5px;">
      A listagem abaixo apresenta análises enviadas em até 365 dias atrás. Para localizar análises mais antigas 
      <a href ng-click="recarregarListaSemLimitarConsulta()">clique aqui</a> e obtenha a listagem completa (mais lento).</span>
   </div>
  
   <div class="row">
   <div class="col-md-4">
     <div class="form-group">
	      <label>Imobiliária</label>
	      <select  data-ng-model="filtro.fantasia" class="form-control form-control-small" ng-change="filtrarLista()"
				data-ng-options = "imob for imob in listaImobiliarias">
				<option value="" style="font-weight: bold;">TODAS</option>
			</select>
	 </div>
	</div>
	
	<div class="col-md-2">
	<div class="form-group">
	<label>Situação:</label>
	      <select  data-ng-model="filtro.situacao" class="form-control form-control-small"
	        ng-change="filtrarLista()">
				<option value="" style="font-weight: bold;">Todas as Análises</option>
				<option value="nao_registrado">Somente Não Registradas</option>
				<option value="contratado">Somente Contratadas</option>
				<option value="desistencia">Somente Desistências</option>
			</select>
	</div>	
	</div>
 </div>  
   
  <div class="row">
   <div class="col-md-4">
   	<div class="form-group">
          <div class="input-group">
              <span class="input-group-addon"> <span
                class="glyphicon glyphicon-search"></span>
              </span> <input id="inputFiltro" type="text" data-focus class="form-control" autocomplete="off"
                placeholder="Digite a Pesquisa" data-ng-model="filtro.$" ng-change="filtrarLista()">
              </div>
         </div>     
     </div>
   </div>
   
   <div class="row">
   	<div class="col-md-12" style="text-align: right;">
   		<label>{{listaTabela.length > 1 ? (listaTabela.length + ' Registros') : (listaTabela.length + ' Registro')}}</label>
   	</div>
   </div>
   

  <hr/>

  <audio id="notificacao" preload="auto">
    <source src="./assets/audio/alerta.mp3" type="audio/mpeg">
  </audio>
          
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-1 cor-titulo th-sort-link" ng-click="sortBy = 'codigo'; sortOrder = !sortOrder">CÓDIGO
        	<span ng-show="sortBy == 'codigo' && !sortOrder" class="fa fa-sort-numeric-asc"></span>
          	<span ng-show="sortBy == 'codigo' && sortOrder" class="fa fa-sort-numeric-desc"></span>
        </th>
        <th class="col-sm-2 cor-titulo th-sort-link" ng-click="sortBy = 'inquilino'; sortOrder = !sortOrder">CLIENTE
        	<span ng-show="sortBy == 'inquilino' && !sortOrder" class="fa fa-sort-alpha-asc"></span>
          	<span ng-show="sortBy == 'inquilino' && sortOrder" class="fa fa-sort-alpha-desc"></span>
        </th>
        <th class="col-sm-1 cor-titulo th-sort-link" ng-click="sortBy = 'CPF_inquilino'; sortOrder = !sortOrder">CPF/CNPJ
        	<span ng-show="sortBy == 'CPF_inquilino' && !sortOrder" class="fa fa-sort-numeric-asc"></span>
          	<span ng-show="sortBy == 'CPF_inquilino' && sortOrder" class="fa fa-sort-numeric-desc"></span>
        </th>
        <th class="col-sm-1 cor-titulo th-sort-link" ng-click="sortBy = 'fantasia'; sortOrder = !sortOrder">IMOBILIÁRIA
        	<span ng-show="sortBy == 'fantasia' && !sortOrder" class="fa fa-sort-alpha-asc"></span>
          	<span ng-show="sortBy == 'fantasia' && sortOrder" class="fa fa-sort-alpha-desc"></span>
        </th>
        <th class="col-sm-1 cor-titulo th-sort-link" ng-click="sortBy = 'solicitante'; sortOrder = !sortOrder">USUÁRIO
        	<span ng-show="sortBy == 'solicitante' && !sortOrder" class="fa fa-sort-alpha-asc"></span>
          	<span ng-show="sortBy == 'solicitante' && sortOrder" class="fa fa-sort-alpha-desc"></span>
        </th>
        <th class="col-sm-1 cor-titulo th-sort-link" ng-click="sortBy = 'usuario_atendente'; sortOrder = !sortOrder">ATENDENTE
        	<span ng-show="sortBy == 'usuario_atendente' && !sortOrder" class="fa fa-sort-alpha-asc"></span>
          	<span ng-show="sortBy == 'usuario_atendente' && sortOrder" class="fa fa-sort-alpha-desc"></span>
        </th>
        <th class="col-sm-1 cor-titulo th-sort-link" ng-click="sortBy = 'data_transm'; sortOrder = !sortOrder">DATA
        	<span ng-show="sortBy == 'data_transm' && !sortOrder" class="fa fa-sort-numeric-asc"></span>
          	<span ng-show="sortBy == 'data_transm' && sortOrder" class="fa fa-sort-numeric-desc"></span>
        </th>
        <th class="col-sm-1 cor-titulo th-sort-link" ng-click="sortBy = 'hora_transm'; sortOrder = !sortOrder">HORA
        	<span ng-show="sortBy == 'hora_transm' && !sortOrder" class="fa fa-sort-numeric-asc"></span>
          	<span ng-show="sortBy == 'hora_transm' && sortOrder" class="fa fa-sort-numeric-desc"></span>
        </th>

        <th class="col-sm-1"><img src="./assets/img/liberty_icone.png" class="icon-seguradora" style="height: 47px"></div></th>
        <th class="col-sm-1"><img src="./assets/img/porto_icone.png" class="icon-seguradora" style="height: 47px"></div></th>
        <th class="col-sm-1"><img src="./assets/img/too_icone.png" class="icon-seguradora"></div></th>

        <th class="col-sm-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="reg in listaTabela | filter:q:filtroLista | orderBy: sortBy:sortOrder | itemsPerPage: 20" current-page="currentPage"
      	data-ng-class="{'pendente': !isDataValida(reg.data_aceite_analise),  'texto-azul' : isDataValida(reg.data_contratacao), 'texto-cinza' : isDataValida(reg.desistencia)}">
        <td class="col-sm-1">{{reg.codigo}}</td>
        <td class="col-sm-2">{{reg.inquilino}}</td>
        <td class="col-sm-1">{{reg.CPF_inquilino | cpfcnpj}}</td>
        <td class="col-sm-1">{{reg.fantasia}}</td> 
        <td class="col-sm-1">{{reg.solicitante ? reg.solicitante : '--'}}</td> 
         <td class="col-sm-2">{{reg.usuario_atendente}}</td> 
        <td class="col-sm-1">{{reg.data_transm ? (reg.data_transm | date: "dd/MM/yyyy" : "UTC") : '--'}}</td>
        <td class="col-sm-1">{{reg.hora_transm}}</td>

        <td class="col-sm-1">
          <div ng-class="{'circulo-verde' : reg.situacao_analise_liberty.toLowerCase().includes('aprovad'), 
          'circulo-vermelho' : reg.situacao_analise_liberty.toLowerCase().includes('recusad') || reg.situacao_analise_liberty.toLowerCase().includes('reprovad'), 
          'circulo-cinza' : reg.situacao_analise_liberty == ''}" 
          class="circulo" data-ng-click="consultarAnaliseNasSeguradoras(reg, 'lib')"
          data-tooltip = "{{reg.processo_liberty || reg.situacao_analise_liberty ? ('<div>Análise: ' + reg.processo_liberty + '</div><br/>' + '<div>Situação: ' + reg.situacao_analise_liberty + '</div>') : ''}}"></div></td>

          <td class="col-sm-1">
          <div ng-class="{'circulo-verde' : reg.situacao_analise_porto.toLowerCase().includes('aprovad'), 
          'circulo-vermelho' : reg.situacao_analise_porto.toLowerCase().includes('recusad') || reg.situacao_analise_porto.toLowerCase().includes('reprovad'), 
          'circulo-cinza' : reg.situacao_analise_porto == ''}" 
          class="circulo"  data-ng-click="consultarAnaliseNasSeguradoras(reg, 'por')"
          data-tooltip = "{{reg.processo_porto || reg.situacao_analise_porto ? ('<div>Análise: ' + reg.processo_porto + '</div><br/>' + '<div>Situação: ' + reg.situacao_analise_porto + '</div>') : ''}}"></div></td>

          <td class="col-sm-1">
          <div ng-class="{'circulo-verde' : reg.situacao_analise_too.toLowerCase().includes('aprovad'), 
          'circulo-vermelho' : reg.situacao_analise_too.toLowerCase().includes('recusad') || reg.situacao_analise_too.toLowerCase().includes('reprovad'), 
          'circulo-cinza' : reg.situacao_analise_too == ''}" 
          class="circulo" 
          data-tooltip = "{{reg.processo_too || reg.situacao_analise_too ? ('<div>Análise: ' + reg.processo_too + '</div><br/>' + '<div>Situação: ' + reg.situacao_analise_too + '</div>') : ''}}"></div></td> 

        <td class="col-sm-1">
        	<button type="button" class="btn btn-info" ng-click="detalhar(reg)">Detalhar</button>
        	<button type="button" class="btn btn-warning" ng-click="registrarAtendimento(reg)" 
          		ng-if="!reg.usuario_analise || reg.usuario_analise == '0' ">Registrar</button>
          		<span	class="glyphicon glyphicon-alert" style="font-size: 11pt; padding-left: 7px"
          		ng-if="reg.data_aceite_analise == '0000-00-00 00:00:00' && isRegPendenteMais30Minutos(reg)"></span>
        </td>       
      </tr>
        
    </tbody>
  </table>

    <dir-pagination-controls max-size="20" on-page-change="setarPaginaAtualTabela(newPageNumber)"></dir-pagination-controls>
    <!--Link da documentação da paginação = https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination -->

