<style>
	.file {
	  line-height: 30px;
	  height: 30px;
	  border: 1px solid #A7A7A7;
	  padding: 5px;
	  box-sizing: border-box;
	  font-size: 15px;
	  vertical-align: middle;
	  width: 300px;
	}
	
	.btn-upload {
	  border: none;
	  box-sizing: border-box;
	  padding: 2px 10px;
	  background-color: #4493c7;
	  color: #FFF;
	  height: 32px;
	  font-size: 15px;
	  vertical-align: middle;
	}
</style>

<div class="container">
 <form> 
    	
         <input type="file" name="arquivos[]"  class="arquivo" id="btnFile1" accept="application/pdf"
         onchange="$('#file1').val(Array.from($(this)[0].files).map(a=>a.name).join(';'))" style="display: none;">
		 <input type="text" name="file"  class="file" id="file1" placeholder="Arquivo" readonly="readonly">
		 <input type="button" class="btn btn-upload" value="Apólice" onclick="$('#btnFile1').trigger('click')">
   </form> 
</div>

<!--  
           <div class="container">
                <div class="row">
                                  
                    <div class="form-group">
		      			<label for="files" class="col-xs-1" style="width: 11%">{{dadosAplice.fezUpload ? 'Alterar' : 'Enviar'}} apólice:</label>
			      			<div class="col-xs-3">
			      			<input id="files" type="file" nv-file-select="" uploader="uploader" ng-disabled="uploader.queue.length > 0" accept="application/pdf"/>
						</div>
					</div>

                </div>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-md-6 table-responsive" style="margin-bottom: 40px">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th ng-show="uploader.isHTML5">Tamanho</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                </td>

                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td nowrap>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()" ng-disabled="!uploader.getNotUploadedItems().length">
                                        <span class="glyphicon glyphicon-trash"></span> Remover
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        -->