<form name="formDadosImovel" class="fundo-formulario">
<div layout="column" layout-padding layout-gt-sm="row">
  <div class="md-block" flex-gt-sm="30">
        <label for="finalidade">Finalidade Imóvel</label>
        <select class="form-control" id="finalidade" ng-tabindex="1" name="finalidade" 
          ng-model="cadastro.imovel.finalidade" requerido focus>
          <option value="R">Residencial</option>
          <option value="C">NÃO Residencial</option>
        </select>
  </div>

  <div class="md-block" flex-gt-sm="30">
        <label for="tipoImovel">Tipo de Imóvel</label>
        <select class="form-control" id="tipoImovel" ng-tabindex="2" 
        ng-model="cadastro.imovel.tipo" requerido>
          <option value="APARTAMENTO">Apartamento</option>
          <option value="CASA">Casa</option>
          <option value="CONDOMINIO">Condomínio Fechado</option>
          <option value="SALA">Sala</option>
        </select>
      </div>

      <div class="md-block" flex-gt-sm="40">
        <label for="motivoLocacao">Motivo da Locação</label>
        <select class="form-control" id="motivoLocacao" ng-tabindex="3"
        ng-model="cadastro.imovel.motivoLocacao" requerido>
          <option value="LOCAÇÃO ADICIONAL" ng-if="cadastro.imovel.finalidade == 'R' ">
          Locação Adicional</option>
          <option value="TRANSFERÊNCIA DE EMPRESA" ng-if="cadastro.imovel.finalidade == 'R' ">
          Transferência de Empresa</option>
          <option value="PRÓXIMO AO TRABALHO" ng-if="cadastro.imovel.finalidade == 'R' ">
          Próximo ao Trabalho</option>
          <option value="IMÓVEL PRÓXIMO DE FAMILIARES" ng-if="cadastro.imovel.finalidade == 'R' ">
          Imóvel Próximo de Familiares</option>
          <option value="PRÓXIMO A INSITUIÇÃO DE ENSINO" ng-if="cadastro.imovel.finalidade == 'R' ">
          Próximo a Insituição de Ensino</option>
          <option value="CASAMENTO" ng-if="cadastro.imovel.finalidade == 'R' ">
          Casamento</option>
          <option value="SEPARAÇÃO" ng-if="cadastro.imovel.finalidade == 'R' ">
          Separação</option>
          <option value="INDEPENDÊNCIA" ng-if="cadastro.imovel.finalidade == 'R' ">
          Independência</option>
          <option value="PARA TERCEIROS">Para Terceiros</option>
          <option value="FUNCIONÁRIO DA EMPRESA DO PRETENDENTE">Funcionário da Empresa do Pretendente</option>
          <option value="VENDA DE IMÓVEL PRÓPRIO">Venda de Imóvel Próprio</option>
          <option value="REDUÇÃO DE CUSTO">Redução de Custo</option>
          <option value="TROCA DE GARANTIA DA ATUAL LOCAÇÃO">Troca de Garantia da Atual Locação</option>
          <option value="LOCAÇÃO EM VIGOR">Locação em Vigor</option>
          <option value="RENOVAÇÃO COM AUMENTO DE VALORES">Renovação com Aumento de Valores</option>
          <option value="APÓLICE VENCIDA">Apólice Vencida</option>
          <option value="CANCELAMENTO DE APÓLICE TROCA DE IMÓVEL">Cancelamento de Apólice Troca de Imóvel</option>
          <option value="ENDOSSO DA APÓLICE">Endosso da Apólice</option>
          <option value="TROCA LOCAL SEDE" ng-if="cadastro.imovel.finalidade == 'C' ">
          Troca de Local de Sede</option>
          <option value="ABERTURA DE EMPRESA" ng-if="cadastro.imovel.finalidade == 'C' ">
          Abertura de Empresa</option>
          <option value="ABERTURA DE FILIAL" ng-if="cadastro.imovel.finalidade == 'C' ">
          Abertura de Filial</option>
          <option value="MUDANÇA PARA UM PONTO MELHOR" ng-if="cadastro.imovel.finalidade == 'C' ">
          Mudança para um Ponto Melhor</option>
                  
        </select>
      </div>

  </div>


<div ng-if="cadastro.imovel.finalidade == 'C' ">
    <div layout="column" layout-padding layout-gt-sm="row">
      <div class="md-block" flex-gt-sm="35">
              <label for="locPretEmpConst">A locação pretendida é para empresa já constituída ?</label>
              <select class="form-control" id="locPretEmpConst" ng-tabindex="4" flex-gt-sm="25"
              ng-model="cadastro.imovel.locacaoEmpresaConstituida" requerido>
                <option value="N">Não</option>
                <option value="S">Sim</option>
                        
              </select>
            </div>

        <div class="md-block" flex-gt-sm="20" ng-if="cadastro.imovel.locacaoEmpresaConstituida == 'S'">
          <label for="cnpjEmpConst">Informar CNPJ</label>
          <input mobile="number" mascara="99.999.999/9999-99" id="cnpjEmpConst" name="cnpjEmpConst" 
          class="form-control" ng-model="cadastro.imovel.cnpjEmpresaConstituida" requerido
          ng-tabindex="5">
        </div>

        <div class="md-block" flex-gt-sm="35">
              <label for="ramoAtivEmp">Qual será o ramo de atividade da sua empresa?</label>
              <select class="form-control" id="ramoAtivEmp" ng-tabindex="6" flex-gt-sm="40"
              ng-model="cadastro.imovel.ramoAtividadeEmpresa" requerido>
                <option value="comércio">Comércio</option>
                <option value="serviços">Serviços</option>
                <option value="indústria">Indústria</option>
                        
              </select>
            </div>
    </div>

    <div layout="column" layout-padding layout-gt-sm="row">
      <div class="md-block" flex-gt-sm="20">
            <label for="trataFranquia">Trata-se de Franquia ?</label>
            <select class="form-control" id="trataFranquia" ng-tabindex="7" flex-gt-sm="50"
            ng-model="cadastro.imovel.trataDeFranquia" requerido>
              <option value="N">Não</option>
              <option value="S">Sim</option>
                      
            </select>
      </div>

      <div class="md-block" flex-gt-sm="40" ng-if="cadastro.imovel.trataDeFranquia == 'S'">
          <label for="nomeFranqueadora">Informar Nome da Franqueadora</label>
          <input type="text" id="nomeFranqueadora" upper name="nomeFranqueadora" requerido
          maxlength="30" class="form-control" ng-model="cadastro.imovel.nomeFranqueadora" ng-tabindex="8">
        </div>
    </div>

    <div layout="column" layout-padding layout-gt-sm="row">
      <div class="md-block" flex-gt-sm="50">
          <label for="descProdFabRevPrest">Quais serão os principais produtos/serviços fabricados, revendidos ou prestados</label>
          <input type="text" id="descProdFabRevPrest" upper name="descProdFabRevPrest" requerido maxlength="50" 
            class="form-control" ng-model="cadastro.imovel.produtosFabRevPrest" ng-tabindex="9">
        </div>

        <div class="md-block" flex-gt-sm="50">
          <label for="experienciaNoRamo">Qual a sua experiência no ramo pretendido (experiência prática ou acadêmica/quanto tempo de experiência)</label>
          <input type="text" id="experienciaNoRamo" upper name="experienciaNoRamo" requerido maxlength="60" 
            class="form-control" ng-model="cadastro.imovel.experienciaNoRamo" ng-tabindex="10">
        </div>
    </div>

    <div layout="column" layout-padding layout-gt-sm="row">
      <div class="md-block" flex-gt-sm="25">
        <label for="faturamentoMensalEstimado">Qual faturamento mensal estimado</label>
        <div class="input-group">
        <span class="input-group-addon"
          id="basic-addon1">R$</span>
        <input mobile="number" mascara-monetaria id="faturamentoMensalEstimado" name="faturamentoMensalEstimado" requerido
        class="form-control" ng-model="cadastro.imovel.faturamentoMensalEstimado" ng-tabindex="11">
      </div>
    </div>


        <div class="md-block" flex-gt-sm="50">
          <label for="prazoRetCapitalInvest">Qual o prazo estimado para o retorno do capital inventido</label>
          <input type="text" id="prazoRetCapitalInvest" upper name="prazoRetCapitalInvest" requerido maxlength="15" 
            class="form-control" ng-model="cadastro.imovel.prazoRetCapitalInvest" ng-tabindex="12">
        </div>
    </div>

</div>


<div layout="column" layout-padding layout-gt-sm="row">
    <div class="md-block" flex-gt-sm="15">
      <label for="cepImovel">CEP</label>
      <input mobile="text" mascara="99.999-999" id="cepImovel" name="cepImovel" 
      class="form-control" ng-model="cadastro.imovel.cep" requerido
      ng-blur="pesquisarCep(cadastro.imovel)" ng-tabindex="13">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="estadoImovel">Estado</label>
      <input type="text" id="estadoImovel" upper name="estadoImovel" requerido
      class="form-control" ng-model="cadastro.imovel.estado"  ng-tabindex="14">
    </div>

    <div class="md-block" flex-gt-sm="65">
      <label for="cidadeImovel">Cidade</label>
      <input type="text" id="cidadeImovel" upper name="cidadeImovel" requerido
      class="form-control" ng-model="cadastro.imovel.cidade"  ng-tabindex="15">
    </div>
</div>

<div layout="column" layout-padding layout-gt-sm="row">
     <div class="md-block" flex-gt-sm="40">
      <label for="enderecoImovel">Endereço</label>
      <input type="text" id="enderecoImovel" upper name="enderecoImovel" requerido
      class="form-control" ng-model="cadastro.imovel.endereco"  ng-tabindex="16">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="bairroImovel">Bairro</label>
      <input type="text" id="bairroImovel" upper name="bairroImovel" requerido
      class="form-control" ng-model="cadastro.imovel.bairro"  ng-tabindex="17">
    </div>

     <div class="md-block" flex-gt-sm="10">
      <label for="numeroImovel">Numero</label>
      <input type="text" id="numeroImovel" name="numeroImovel"
      class="form-control" ng-model="cadastro.imovel.numero" ng-tabindex="18">
    </div>

    <div class="md-block" flex-gt-sm="30">
      <label for="complementoImovel">Complemento</label>
      <input type="text" id="complementoImovel" upper name="complementoImovel" 
      class="form-control" ng-model="cadastro.imovel.complemento" ng-tabindex="19">
    </div>
</div>

<div layout="column" layout-padding layout-gt-sm="row">
     <div class="md-block">
      <label for="aluguel">Aluguel</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="text" mascara-monetaria id="aluguel" ng-disabled="paramUrl.var2 > 0" name="aluguel" requerido
      class="form-control" ng-model="cadastro.imovel.aluguel" ng-tabindex="20">
    </div>
    </div>

    <div class="md-block">
      <label for="iptu">Iptu Mensal</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="text" mascara-monetaria id="iptu" name="iptu" ng-disabled="paramUrl.var4 > 0"
      class="form-control" ng-model="cadastro.imovel.iptu" ng-tabindex="21">
    </div>
    </div>

    <div class="md-block">
      <label for="condominio">Condomínio</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="text" mascara-monetaria id="condominio" name="condominio" ng-disabled="paramUrl.var3 > 0"
      class="form-control" ng-model="cadastro.imovel.condominio" ng-tabindex="22">
    </div>
    </div>

    <div class="md-block">
      <label for="agua">Água</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="text" mascara-monetaria id="agua" name="agua" ng-disabled="paramUrl.var5 > 0"
      class="form-control" ng-model="cadastro.imovel.agua" ng-tabindex="23">
    </div>
    </div>

    <div class="md-block">
      <label for="luz">Luz</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="text" mascara-monetaria id="luz" name="luz" ng-disabled="paramUrl.var6 > 0"
      class="form-control" ng-model="cadastro.imovel.luz" ng-tabindex="24">
    </div>
    </div>

    <div class="md-block">
      <label for="gas">Gás Canalizado</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="text" mascara-monetaria id="gas" name="gas" ng-disabled="paramUrl.var7 > 0"
      class="form-control" ng-model="cadastro.imovel.gas" ng-tabindex="25s">
    </div>
    </div>

    <div class="md-block" flex-gt-sm="15">
      <label for="total">Total gastos mensais</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">R$</span>
        <span class="form-control disabled-value">{{getTotalGastosMensais() | currency: "":2}}</span>
      </div>
    </div>
  </div>

  <div layout="column" layout-padding layout-gt-sm="row" ng-if="getTotalGastosMensais() > 0">
    <div class="alert alert-warning">
      Renda mensal necessária para essa locação: <strong>{{getRendaNecessaria() | currency:"R$ ":2}}</strong>
      <i>(A renda considerada é a soma das rendas do pretendente e seus locatários solidários.)</i>
    </div>  
  </div>

<div layout="column" layout-padding layout-gt-sm="row" ng-if="!isRendaSuficiente()">
  <div class="alert alert-danger">
      Renda mensal informada <strong>{{getRendaInformada() | currency:"R$ ":2}}</strong> insuficiente para essa locação. <br/>Inclua locatários solidários na próxima janela para compor renda e alcançar o valor mínimo necessário <strong>{{getRendaNecessaria() | currency:"R$ ":2}}</strong>
    </div> 
</div>

</form>

<div layout="row" layout-align="center center">
    <div ng-if="passo != 1">
      <md-button class="md-raised" ng-click="passoAnterior()">
        <span aria-hidden="true">&larr;</span> Anterior
      </md-button>
    </div>

    <div>
      <md-button class="md-raised md-primary" ng-click="validarDadosDoImovel('formDadosImovel')">Seguinte <span aria-hidden="true">&rarr;</span>
      </md-button>
    </div>
  </div> 