<form name="formDadosPessoais" class="fundo-formulario">
   
  <div layout="column" layout-gt-sm="row" layout-padding 
  ng-init="cadastro.pessoal.possuiRendaArcarLocacao = isRendaSuficiente() ? 'N' : 'S'">
    <div class="md-block" flex-gt-sm="35">
      <label for="possuiRendaArcarLocacao">
       {{isRendaSuficiente() ? 'Você Possui renda suficiente para arcar com a locação, mas gostaria de incluir novos pretendentes mesmo assim ?' : 
       'Você não possui renda para arcar com a locação. Gostaria de incluir novos pretendentes para somar à sua renda ?'}}
      </label>

      <select class="form-control" id="possuiRendaArcarLocacao" flex-gt-sm="35" requerido
      ng-model="cadastro.pessoal.possuiRendaArcarLocacao" ng-tabindex="1" ng-change="alertaLocatarioSolidario()">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="35" ng-if="cadastro.pessoal.possuiRendaArcarLocacao == 'S'">
      <label>Nº Pessoas compondo renda (Locatários Solidários)</label>
      <select class="form-control" flex-gt-sm="30"
      ng-model="cadastro.pessoal.numSolidarios" ng-tabindex="2">
        <option value=0>0</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
      </select>
    </div>
  </div>

<div ng-if="cadastro.pessoal.possuiRendaArcarLocacao == 'S'">
<fieldset class="scheduler-border" ng-if="cadastro.pessoal.numSolidarios >=1">
  <legend class="scheduler-border">LOCATÁRIO SOLIDÁRIO 1</legend>
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="60">
        <label for="nome1">Nome</label>
        <input type="text" id="nome1" upper name="nome1" focus requerido
        class="form-control" ng-model="cadastro.pessoal.solidario1.nome" ng-tabindex="7">
    </div>



    <div class="md-block" flex-gt-sm="20">
      <label for="cpf1">CPF</label>
      <input mobile="number"  mascara="999.999.999-99"  id="cpf1" name="cpf1" requerido
      class="form-control" ng-model="cadastro.pessoal.solidario1.cpf" ng-tabindex="8">
    </div>

    
    <div class="md-block" flex-gt-sm="10">
      <label for="DDDSol1">DDD</label>
      <select class="form-control" id="DDDSol1" requerido
      	ng-model="cadastro.pessoal.solidario1.dddTelefone">
        <option></option>
        <option value="11">11 - SP</option>
        <option value="12">12 - SP</option>
        <option value="13">13 - SP</option>
        <option value="14">14 - SP</option>
        <option value="15">15 - SP</option>
        <option value="16">16 - SP</option>
        <option value="17">17 - SP</option>
        <option value="18">18 - SP</option>
        <option value="19">19 - SP</option>
        <option value="21">21 - RJ</option>
        <option value="22">22 - RJ</option>
        <option value="24">24 - RJ</option>
        <option value="27">27 - ES</option>
        <option value="28">28 - ES</option>
        <option value="31" >31 - MG</option>
        <option value="32" >32 - MG</option>
        <option value="33">33 - MG</option>
        <option value="34">34 - MG</option>
        <option value="35">35 - MG</option>
        <option value="37">37 - MG</option>
        <option value="38">38 - MG</option>
        <option value="41">41 - PR</option>
        <option value="42">42 - PR</option>
        <option value="43">43 - PR</option>
        <option value="44">44 - PR</option>
        <option value="45">45 - PR</option>
        <option value="46">46 - PR</option>
        <option value="47">47 - SC</option>
        <option value="48">48 - SC</option>
        <option value="49">49 - SC</option>
        <option value="51">51 - RS</option>
        <option value="53">53 - RS</option>
        <option value="54">54 - RS</option>
        <option value="55">55 - RS</option>
        <option value="61">61 - DF</option>
        <option value="62">62 - GO</option>
        <option value="63">63 - TO</option>
        <option value="64">64 - GO</option>
        <option value="65">65 - MT</option>
        <option value="66">66 - MT</option>
        <option value="67">67 - MS</option>
        <option value="68">68 - AC</option>
        <option value="69">69 - RO</option>
        <option value="71">71 - BA</option>
        <option value="73">73 - BA</option>
        <option value="74">74 - BA</option>
        <option value="75">75 - BA</option>
        <option value="77">77 - BA</option>
        <option value="79">79 - SE</option>
        <option value="81">81 - PE</option>
        <option value="82">82 - AL</option>
        <option value="83">83 - PB</option>
        <option value="84">84 - RN</option>
        <option value="85">85 - CE</option>
        <option value="86">86 - PI</option>
        <option value="87">87 - PE</option>
        <option value="88">88 - CE</option>
        <option value="89">89 - PI</option>
        <option value="91">91 - PA</option>
        <option value="92">92 - AM</option>
        <option value="93">93 - PA</option>
        <option value="94">94 - PA</option>
        <option value="95">95 - RR</option>
        <option value="96">96 - AP</option>
        <option value="97">97 - AM</option>
        <option value="98">98 - MA</option>
        <option value="99">99 - MA</option>
      </select>
    </div>
    
    <div class="md-block" flex-gt-sm="15">
      <label for="telefone1">Telefone</label>
      <input mobile="tel" mascara-telefone id="telefone1" name="telefone" requerido
      class="form-control" ng-model="cadastro.pessoal.solidario1.telefone" ng-tabindex="9">
    </div>  
  </div>

  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="15">
      <label for="sexo1">Sexo</label>
      <select class="form-control" ng-model="cadastro.pessoal.solidario1.sexo" ng-tabindex="10" id="sexo1" requerido>
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="50">
      <label for="numDoc1">Numero do Documento (RG/RNE/Ordem/Conselho)</label>
      <input type="text" id="numDoc1" name="numDoc1" class="form-control" 
      ng-model="cadastro.pessoal.solidario1.numDoc"  requerido
      ng-tabindex="11">
    </div>

    <div class="md-block" flex-gt-sm="15">
      <label for="orgaoExpedidor1">Orgão Expedidor</label>
      <input type="text" id="orgaoExpedidor1" name="orgaoExpedidor1" 
      class="form-control"  requerido
      ng-model="cadastro.pessoal.solidario1.orgaoExpedidor" ng-tabindex="12">
    </div>

    <div flex-gt-sm="15">
      <label for="dataEmissao1">Data Emissão</label>
      <input id="dataEmissao1" name="dataEmissao1" 
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario1.dataEmissao" ng-tabindex="13">
    </div>
    
    <div flex-gt-sm="15">
      <label for="dataValidade1">Data Validade</label>
      <input id="dataValidade1" name="dataValidade1" 
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario1.dataValidade" ng-tabindex="14">
    </div>
  </div>
 
 <div layout="column" layout-gt-sm="row" layout-padding> 
  <div class="md-block" flex-gt-sm="15">
      <label for="estadoCivil1">Estado Civil</label>
      <select class="form-control" id="estadoCivil1" requerido
        ng-model="cadastro.pessoal.solidario1.estadoCivil" ng-tabindex="15">
        <option value="SOLTEIRO">Solteiro(a)</option>
        <option value="CASADO">Casado(a)</option>
        <option value="AMASIADO">Amasiado(a)</option>
        <option value="DESQUITADO">Desquitado(a)</option>
        <option value="DIVORCIADO">Divorciado(a)</option>
        <option value="SEPARADO">Separado(a)</option>
        <option value="VIUVO">Viuvo(a)</option>
      </select>
    </div>
    
    <div class="md-block" flex-gt-sm="15" ng-if="cadastro.pessoal.solidario1.estadoCivil == 'CASADO' || cadastro.pessoal.solidario1.estadoCivil == 'AMASIADO'">
      <label for="cpfConjuge1">CPF Cônjuge</label>
      <input mobile="number" mascara="999.999.999-99" id="cpfConjuge1" name="cpfConjuge1" 
      class="form-control" ng-model="cadastro.pessoal.solidario1.cpfConjuge" requerido>
    </div>
    
    <div flex-gt-sm="15">
      <label for="dataNascimento1">Data Nascimento</label>
      <input id="dataNascimento1" name="dataNascimento1"  requerido
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario1.dataNascimento" ng-tabindex="16">
    </div>
    
    <div class="md-block" flex-gt-sm="20">
      <label for="grauParentesco1">Grau de Parentesco</label>
      <select class="form-control" id="grauParentesco1" requerido
        ng-model="cadastro.pessoal.solidario1.grauParentesco" ng-tabindex="17">
        <option value="CONJUGUE">Cônjugue</option>
        <option value="PAI/MAE">Pai/Mãe</option>
        <option value="FILHO">Filho</option>
        <option value="PARENTE 2 GRAU">Parente de 2º grau</option>
        <option value="AMIGO">Amigo</option>
        <option value="COMPANHEIRO">Companheiro</option>
        <option value="OUTROS">Outros</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="15">
      <label for="cepRes1">CEP Residência</label>
      <input mobile="text" mascara="99999-999" id="cepRes1" name="cepRes1" 
      ng-blur="validarCepLocatarioSolidario(cadastro.pessoal.solidario1.cep)"
      class="form-control" ng-model="cadastro.pessoal.solidario1.cep" requerido
      ng-tabindex="18">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="iraResidirImovel1">Irá residir no imóvel</label>
      <select class="form-control" id="iraResidirImovel1" flex-gt-sm="40" requerido
      ng-model="cadastro.pessoal.solidario1.iraResidirImovel" ng-tabindex="19">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
      </select>
    </div>

 </div>  

<div layout="column" layout-gt-sm="row" layout-padding> 
<div class="md-block" flex-gt-sm="40">
      <label for="naturezaRenda1">Natureza da renda / Vínculo empregatício</label>
      <select class="form-control" id="naturezaRenda1" requerido
          ng-model="cadastro.pessoal.solidario1.naturezaRenda" ng-tabindex="20">
          <option value="APOSENTADO/PENSIONISTA">Aposentado / Pensionista</option>
          <option value="AUTONOMO">Autônomo</option>
          <option value="EMPRESARIO">Empresário</option>
          <option value="ESTUDANTE">Estudante</option>
          <option value="FUNCIONARIO PÚBLICO">Funcionário Público</option>
          <option value="FUNCIONÁRIO COM REGISTRO CLT">Funcionário com Registro CLT</option>
          <option value="PROFISSIONAL LIBERAL">Profissional Liberal</option>
          <option value="RENDA PROVENIENTE DE ALUGUÉIS">Renda Proveniente de Aluguéis, do lar</option>
        </select>
    </div>

    <div class="md-block" flex-gt-sm="50" ng-if="['FUNCIONARIO PÚBLICO', 'FUNCIONÁRIO COM REGISTRO CLT', 'PROFISSIONAL LIBERAL'].includes(cadastro.pessoal.solidario1.naturezaRenda) ">
      <label for="localTrabTel1">Empresa/Local de Trabalho/Telefone</label>
      <input type="text" id="localTrabTel1" name="localTrabTel1" class="form-control" 
      ng-model="cadastro.pessoal.solidario1.localTrabalhoTel"  requerido
      ng-tabindex="21">
    </div>

    <div flex-gt-sm="15" ng-if="['FUNCIONARIO PÚBLICO', 'FUNCIONÁRIO COM REGISTRO CLT', 'PROFISSIONAL LIBERAL'].includes(cadastro.pessoal.solidario1.naturezaRenda) ">
      <label for="dataAdmissao1">Data Admissão</label>
      <input id="dataAdmissao1" name="dataAdmissao1" 
      class="form-control" datepicker mascara="99/99/9999" requerido
      ng-model="cadastro.pessoal.solidario1.dataAdmissao" ng-tabindex="22">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="rendaBruta1">Renda mensal bruta</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="text" mascara-monetaria id="rendaBruta1" name="rendaMensalBruta"  requerido
      class="form-control" ng-model="cadastro.pessoal.solidario1.rendaMensalBruta" ng-tabindex="23">
    </div>
    </div>
</div>

</fieldset>

<fieldset class="scheduler-border" ng-if="cadastro.pessoal.numSolidarios >=2">
  <legend class="scheduler-border">LOCATÁRIO SOLIDÁRIO 2</legend>
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="60">
        <label for="nome2">Nome</label>
        <input type="text" id="nome2" upper name="nome2"  requerido
        class="form-control" ng-model="cadastro.pessoal.solidario2.nome" ng-tabindex="24">
    </div>



    <div class="md-block" flex-gt-sm="20">
      <label for="cpf2">CPF</label>
      <input mobile="number"  mascara="999.999.999-99"  id="cpf2" name="cpf2" requerido
      class="form-control" ng-model="cadastro.pessoal.solidario2.cpf" ng-tabindex="25">
    </div>

<div class="md-block" flex-gt-sm="10">
      <label for="DDDSol2">DDD</label>
      <select class="form-control" id="DDDSol2" requerido
      	ng-model="cadastro.pessoal.solidario2.dddTelefone">
        <option></option>
        <option value="11">11 - SP</option>
        <option value="12">12 - SP</option>
        <option value="13">13 - SP</option>
        <option value="14">14 - SP</option>
        <option value="15">15 - SP</option>
        <option value="16">16 - SP</option>
        <option value="17">17 - SP</option>
        <option value="18">18 - SP</option>
        <option value="19">19 - SP</option>
        <option value="21">21 - RJ</option>
        <option value="22">22 - RJ</option>
        <option value="24">24 - RJ</option>
        <option value="27">27 - ES</option>
        <option value="28">28 - ES</option>
        <option value="31" >31 - MG</option>
        <option value="32" >32 - MG</option>
        <option value="33">33 - MG</option>
        <option value="34">34 - MG</option>
        <option value="35">35 - MG</option>
        <option value="37">37 - MG</option>
        <option value="38">38 - MG</option>
        <option value="41">41 - PR</option>
        <option value="42">42 - PR</option>
        <option value="43">43 - PR</option>
        <option value="44">44 - PR</option>
        <option value="45">45 - PR</option>
        <option value="46">46 - PR</option>
        <option value="47">47 - SC</option>
        <option value="48">48 - SC</option>
        <option value="49">49 - SC</option>
        <option value="51">51 - RS</option>
        <option value="53">53 - RS</option>
        <option value="54">54 - RS</option>
        <option value="55">55 - RS</option>
        <option value="61">61 - DF</option>
        <option value="62">62 - GO</option>
        <option value="63">63 - TO</option>
        <option value="64">64 - GO</option>
        <option value="65">65 - MT</option>
        <option value="66">66 - MT</option>
        <option value="67">67 - MS</option>
        <option value="68">68 - AC</option>
        <option value="69">69 - RO</option>
        <option value="71">71 - BA</option>
        <option value="73">73 - BA</option>
        <option value="74">74 - BA</option>
        <option value="75">75 - BA</option>
        <option value="77">77 - BA</option>
        <option value="79">79 - SE</option>
        <option value="81">81 - PE</option>
        <option value="82">82 - AL</option>
        <option value="83">83 - PB</option>
        <option value="84">84 - RN</option>
        <option value="85">85 - CE</option>
        <option value="86">86 - PI</option>
        <option value="87">87 - PE</option>
        <option value="88">88 - CE</option>
        <option value="89">89 - PI</option>
        <option value="91">91 - PA</option>
        <option value="92">92 - AM</option>
        <option value="93">93 - PA</option>
        <option value="94">94 - PA</option>
        <option value="95">95 - RR</option>
        <option value="96">96 - AP</option>
        <option value="97">97 - AM</option>
        <option value="98">98 - MA</option>
        <option value="99">99 - MA</option>
      </select>
    </div>
    
    <div class="md-block" flex-gt-sm="15">
      <label for="telefone2">Telefone</label>
      <input mobile="tel" mascara-telefone id="telefone2" name="telefone2" requerido
      class="form-control" ng-model="cadastro.pessoal.solidario2.telefone" ng-tabindex="26">
    </div>  
  </div>

  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="15">
      <label for="sexo2">Sexo</label>
      <select class="form-control" ng-model="cadastro.pessoal.solidario2.sexo" ng-tabindex="27" id="sexo2" requerido>
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="50">
      <label for="numDoc2">Numero do Documento (RG/RNE/Ordem/Conselho)</label>
      <input type="text" id="numDoc2" name="numDoc2" class="form-control" 
      ng-model="cadastro.pessoal.solidario2.numDoc"  requerido
      ng-tabindex="20">
    </div>

    <div class="md-block" flex-gt-sm="15">
      <label for="orgaoExpedidor2">Orgão Expedidor</label>
      <input type="text" id="orgaoExpedidor2" name="orgaoExpedidor2" 
      class="form-control"  requerido
      ng-model="cadastro.pessoal.solidario2.orgaoExpedidor" ng-tabindex="28">
    </div>

    <div flex-gt-sm="15">
      <label for="dataEmissao2">Data Emissão</label>
      <input id="dataEmissao2" name="dataEmissao2" 
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario2.dataEmissao" ng-tabindex="29">
    </div>
    
    <div flex-gt-sm="15">
      <label for="dataValidade2">Data Validade</label>
      <input id="dataValidade2" name="dataValidade2" 
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario2.dataValidade" ng-tabindex="30">
    </div>
  </div>
  
  <div layout="column" layout-gt-sm="row" layout-padding> 
  <div class="md-block" flex-gt-sm="15">
      <label for="estadoCivil2">Estado Civil</label>
      <select class="form-control" id="estadoCivil2" requerido
        ng-model="cadastro.pessoal.solidario2.estadoCivil" ng-tabindex="31">
        <option value="SOLTEIRO">Solteiro(a)</option>
        <option value="CASADO">Casado(a)</option>
        <option value="AMASIADO">Amasiado(a)</option>
        <option value="DESQUITADO">Desquitado(a)</option>
        <option value="DIVORCIADO">Divorciado(a)</option>
        <option value="SEPARADO">Separado(a)</option>
        <option value="VIUVO">Viuvo(a)</option>
      </select>
    </div>
    
    <div class="md-block" flex-gt-sm="15" ng-if="cadastro.pessoal.solidario2.estadoCivil == 'CASADO' || cadastro.pessoal.solidario2.estadoCivil == 'AMASIADO'">
      <label for="cpfConjuge2">CPF Cônjuge</label>
      <input mobile="number" mascara="999.999.999-99" id="cpfConjuge2" name="cpfConjuge2" 
      class="form-control" ng-model="cadastro.pessoal.solidario2.cpfConjuge" requerido>
    </div>
    
    <div flex-gt-sm="15">
      <label for="dataNascimento2">Data Nascimento</label>
      <input id="dataNascimento2" name="dataNascimento2" 
      class="form-control" datepicker mascara="99/99/9999" requerido
      ng-model="cadastro.pessoal.solidario2.dataNascimento" ng-tabindex="32">
    </div>
    
    <div class="md-block" flex-gt-sm="20">
      <label for="grauParentesco2">Grau de Parentesco</label>
      <select class="form-control" id="grauParentesco2" requerido
        ng-model="cadastro.pessoal.solidario2.grauParentesco" ng-tabindex="33">
        <option value="CONJUGUE">Cônjugue</option>
        <option value="PAI/MAE">Pai/Mãe</option>
        <option value="FILHO">Filho</option>
        <option value="PARENTE 2 GRAU">Parente de 2º grau</option>
        <option value="AMIGO">Amigo</option>
        <option value="COMPANHEIRO">Companheiro</option>
        <option value="OUTROS">Outros</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="15">
      <label for="cepRes2">CEP Residência</label>
      <input mobile="text" mascara="99999-999" id="cepRes2" name="cepRes2" 
      ng-blur="validarCepLocatarioSolidario(cadastro.pessoal.solidario2.cep)"
      class="form-control" ng-model="cadastro.pessoal.solidario2.cep" requerido
      ng-tabindex="34">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="iraResidirImovel2">Irá residir no imóvel</label>
      <select class="form-control" id="iraResidirImovel2" flex-gt-sm="40" requerido
      ng-model="cadastro.pessoal.solidario2.iraResidirImovel" ng-tabindex="35">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
      </select>
    </div>

 </div>   
 
 <div layout="column" layout-gt-sm="row" layout-padding> 
 <div class="md-block" flex-gt-sm="40">
      <label for="naturezaRenda2">Natureza da renda / Vínculo empregatício</label>
      <select class="form-control" id="naturezaRenda2" requerido
          ng-model="cadastro.pessoal.solidario2.naturezaRenda" ng-tabindex="36">
          <option value="APOSENTADO/PENSIONISTA">Aposentado / Pensionista</option>
          <option value="AUTONOMO">Autônomo</option>
          <option value="EMPRESARIO">Empresário</option>
          <option value="ESTUDANTE">Estudante</option>
          <option value="FUNCIONARIO PÚBLICO">Funcionário Público</option>
          <option value="FUNCIONÁRIO COM REGISTRO CLT">Funcionário com Registro CLT</option>
          <option value="PROFISSIONAL LIBERAL">Profissional Liberal</option>
          <option value="RENDA PROVENIENTE DE ALUGUÉIS">Renda Proveniente de Aluguéis, do lar</option>
        </select>
    </div>

    <div class="md-block" flex-gt-sm="50" ng-if="['FUNCIONARIO PÚBLICO', 'FUNCIONÁRIO COM REGISTRO CLT', 'PROFISSIONAL LIBERAL'].includes(cadastro.pessoal.solidario2.naturezaRenda) ">
      <label for="localTrabTel2">Empresa/Local de Trabalho/Telefone</label>
      <input type="text" id="localTrabTel2" name="localTrabTel2" class="form-control" 
      ng-model="cadastro.pessoal.solidario2.localTrabalhoTel" requerido
      ng-tabindex="37">
    </div>

    <div flex-gt-sm="15" ng-if="['FUNCIONARIO PÚBLICO', 'FUNCIONÁRIO COM REGISTRO CLT', 'PROFISSIONAL LIBERAL'].includes(cadastro.pessoal.solidario2.naturezaRenda) ">
      <label for="dataAdmissao2">Data Admissão</label>
      <input id="dataAdmissao2" name="dataAdmissao2" requerido
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario2.dataAdmissao" ng-tabindex="38">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="rendaBruta2">Renda mensal bruta</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="text" mascara-monetaria id="rendaBruta2" name="rendaMensalBruta2" requerido
      class="form-control" ng-model="cadastro.pessoal.solidario2.rendaMensalBruta" ng-tabindex="39">
    </div>
    </div>
 </div>
 
</fieldset>

<fieldset class="scheduler-border" ng-if="cadastro.pessoal.numSolidarios ==3">
  <legend class="scheduler-border">LOCATÁRIO SOLIDÁRIO 3</legend>
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="60">
        <label for="nome3">Nome</label>
        <input type="text" id="nome3" upper name="nome3" requerido
        class="form-control" ng-model="cadastro.pessoal.solidario3.nome" ng-tabindex="40">
    </div>



    <div class="md-block" flex-gt-sm="20">
      <label for="cpf3">CPF</label>
      <input mobile="number"  mascara="999.999.999-99"  id="cpf3" name="cpf3" requerido
      class="form-control" ng-model="cadastro.pessoal.solidario3.cpf" ng-tabindex="41">
    </div>

<div class="md-block" flex-gt-sm="10">
      <label for="DDDSol3">DDD</label>
      <select class="form-control" id="DDDSol3" requerido
      	ng-model="cadastro.pessoal.solidario3.dddTelefone">
        <option></option>
        <option value="11">11 - SP</option>
        <option value="12">12 - SP</option>
        <option value="13">13 - SP</option>
        <option value="14">14 - SP</option>
        <option value="15">15 - SP</option>
        <option value="16">16 - SP</option>
        <option value="17">17 - SP</option>
        <option value="18">18 - SP</option>
        <option value="19">19 - SP</option>
        <option value="21">21 - RJ</option>
        <option value="22">22 - RJ</option>
        <option value="24">24 - RJ</option>
        <option value="27">27 - ES</option>
        <option value="28">28 - ES</option>
        <option value="31" >31 - MG</option>
        <option value="32" >32 - MG</option>
        <option value="33">33 - MG</option>
        <option value="34">34 - MG</option>
        <option value="35">35 - MG</option>
        <option value="37">37 - MG</option>
        <option value="38">38 - MG</option>
        <option value="41">41 - PR</option>
        <option value="42">42 - PR</option>
        <option value="43">43 - PR</option>
        <option value="44">44 - PR</option>
        <option value="45">45 - PR</option>
        <option value="46">46 - PR</option>
        <option value="47">47 - SC</option>
        <option value="48">48 - SC</option>
        <option value="49">49 - SC</option>
        <option value="51">51 - RS</option>
        <option value="53">53 - RS</option>
        <option value="54">54 - RS</option>
        <option value="55">55 - RS</option>
        <option value="61">61 - DF</option>
        <option value="62">62 - GO</option>
        <option value="63">63 - TO</option>
        <option value="64">64 - GO</option>
        <option value="65">65 - MT</option>
        <option value="66">66 - MT</option>
        <option value="67">67 - MS</option>
        <option value="68">68 - AC</option>
        <option value="69">69 - RO</option>
        <option value="71">71 - BA</option>
        <option value="73">73 - BA</option>
        <option value="74">74 - BA</option>
        <option value="75">75 - BA</option>
        <option value="77">77 - BA</option>
        <option value="79">79 - SE</option>
        <option value="81">81 - PE</option>
        <option value="82">82 - AL</option>
        <option value="83">83 - PB</option>
        <option value="84">84 - RN</option>
        <option value="85">85 - CE</option>
        <option value="86">86 - PI</option>
        <option value="87">87 - PE</option>
        <option value="88">88 - CE</option>
        <option value="89">89 - PI</option>
        <option value="91">91 - PA</option>
        <option value="92">92 - AM</option>
        <option value="93">93 - PA</option>
        <option value="94">94 - PA</option>
        <option value="95">95 - RR</option>
        <option value="96">96 - AP</option>
        <option value="97">97 - AM</option>
        <option value="98">98 - MA</option>
        <option value="99">99 - MA</option>
      </select>
    </div>
    
   <div class="md-block" flex-gt-sm="15">
      <label for="telefone3">Telefone</label>
      <input mobile="tel" mascara-telefone id="telefone3" name="telefone3"  requerido
      class="form-control" ng-model="cadastro.pessoal.solidario3.telefone" ng-tabindex="42">
    </div>  
  </div>

  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="15">
      <label for="sexo3">Sexo</label>
      <select class="form-control" ng-model="cadastro.pessoal.solidario3.sexo" ng-tabindex="43" id="sexo3" requerido>
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="50">
      <label for="numDoc3">Numero do Documento (RG/RNE/Ordem/Conselho)</label>
      <input type="text" id="numDoc3" name="numDoc3" class="form-control" 
      ng-model="cadastro.pessoal.solidario3.numDoc" requerido
      ng-tabindex="28">
    </div>

    <div class="md-block" flex-gt-sm="15">
      <label for="orgaoExpedidor3">Orgão Expedidor</label>
      <input type="text" id="orgaoExpedidor3" name="orgaoExpedidor3" requerido
      class="form-control" 
      ng-model="cadastro.pessoal.solidario3.orgaoExpedidor" ng-tabindex="44">
    </div>

    <div flex-gt-sm="15">
      <label for="dataEmissao3">Data Emissão</label>
      <input id="dataEmissao3" name="dataEmissao3"
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario3.dataEmissao" ng-tabindex="45">
    </div>
    
    <div flex-gt-sm="15">
      <label for="dataValidade3">Data Validade</label>
      <input id="dataValidade3" name="dataValidade3"
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario3.dataValidade" ng-tabindex="46">
    </div>
  </div>
  
  <div layout="column" layout-gt-sm="row" layout-padding> 
  <div class="md-block" flex-gt-sm="15">
      <label for="estadoCivil3">Estado Civil</label>
      <select class="form-control" id="estadoCivil3" requerido
        ng-model="cadastro.pessoal.solidario3.estadoCivil" ng-tabindex="47">
        <option value="SOLTEIRO">Solteiro(a)</option>
        <option value="CASADO">Casado(a)</option>
        <option value="AMASIADO">Amasiado(a)</option>
        <option value="DESQUITADO">Desquitado(a)</option>
        <option value="DIVORCIADO">Divorciado(a)</option>
        <option value="SEPARADO">Separado(a)</option>
        <option value="VIUVO">Viuvo(a)</option>
      </select>
    </div>
    
    <div class="md-block" flex-gt-sm="15" ng-if="cadastro.pessoal.solidario3.estadoCivil == 'CASADO' || cadastro.pessoal.solidario3.estadoCivil == 'AMASIADO'">
      <label for="cpfConjuge3">CPF Cônjuge</label>
      <input mobile="number" mascara="999.999.999-99" id="cpfConjuge3" name="cpfConjuge3" 
      class="form-control" ng-model="cadastro.pessoal.solidario3.cpfConjuge" requerido>
    </div>
    
    <div flex-gt-sm="15">
      <label for="dataNascimento3">Data Nascimento</label>
      <input id="dataNascimento3" name="dataNascimento3" requerido
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario3.dataNascimento" ng-tabindex="48">
    </div>
    
    <div class="md-block" flex-gt-sm="20">
      <label for="grauParentesco3">Grau de Parentesco</label>
      <select class="form-control" id="grauParentesco3" requerido
        ng-model="cadastro.pessoal.solidario3.grauParentesco" ng-tabindex="49">
        <option value="CONJUGUE">Cônjugue</option>
        <option value="PAI/MAE">Pai/Mãe</option>
        <option value="FILHO">Filho</option>
        <option value="PARENTE 2 GRAU">Parente de 2º grau</option>
        <option value="AMIGO">Amigo</option>
        <option value="COMPANHEIRO">Companheiro</option>
        <option value="OUTROS">Outros</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="15">
      <label for="cepRes3">CEP Residência</label>
      <input mobile="text" mascara="99999-999" id="cepRes3" name="cepRes3" 
      ng-blur="validarCepLocatarioSolidario(cadastro.pessoal.solidario3.cep)"
      class="form-control" ng-model="cadastro.pessoal.solidario3.cep" requerido
      ng-tabindex="50">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="iraResidirImovel3">Irá residir no imóvel</label>
      <select class="form-control" id="iraResidirImovel3" flex-gt-sm="40" requerido
      ng-model="cadastro.pessoal.solidario3.iraResidirImovel" ng-tabindex="51">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
      </select>
    </div>
 </div>
 
 <div layout="column" layout-gt-sm="row" layout-padding> 
 <div class="md-block" flex-gt-sm="40">
      <label for="naturezaRenda3">Natureza da renda / Vínculo empregatício</label>
      <select class="form-control" id="naturezaRenda3" requerido
          ng-model="cadastro.pessoal.solidario3.naturezaRenda" ng-tabindex="52">
          <option value="APOSENTADO/PENSIONISTA">Aposentado / Pensionista</option>
          <option value="AUTONOMO">Autônomo</option>
          <option value="EMPRESARIO">Empresário</option>
          <option value="ESTUDANTE">Estudante</option>
          <option value="FUNCIONARIO PÚBLICO">Funcionário Público</option>
          <option value="FUNCIONÁRIO COM REGISTRO CLT">Funcionário com Registro CLT</option>
          <option value="PROFISSIONAL LIBERAL">Profissional Liberal</option>
          <option value="RENDA PROVENIENTE DE ALUGUÉIS">Renda Proveniente de Aluguéis, do lar</option>
        </select>
    </div>

    <div class="md-block" flex-gt-sm="50" ng-if="['FUNCIONARIO PÚBLICO', 'FUNCIONÁRIO COM REGISTRO CLT', 'PROFISSIONAL LIBERAL'].includes(cadastro.pessoal.solidario3.naturezaRenda) ">
      <label for="localTrabTel3">Empresa/Local de Trabalho/Telefone</label>
      <input type="text" id="localTrabTel3" name="localTrabTel3" class="form-control"  requerido
      ng-model="cadastro.pessoal.solidario3.localTrabalhoTel" 
      ng-tabindex="53">
    </div>

    <div flex-gt-sm="15" ng-if="['FUNCIONARIO PÚBLICO', 'FUNCIONÁRIO COM REGISTRO CLT', 'PROFISSIONAL LIBERAL'].includes(cadastro.pessoal.solidario3.naturezaRenda) ">
      <label for="dataAdmissao3">Data Admissão</label>
      <input id="dataAdmissao3" name="dataAdmissao3"  requerido
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario3.dataAdmissao" ng-tabindex="54">
    </div>

     <div class="md-block" flex-gt-sm="20">
      <label for="rendaBruta3">Renda mensal bruta</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="text" mascara-monetaria id="rendaBruta3" name="rendaMensalBruta3" requerido 
      class="form-control" ng-model="cadastro.pessoal.solidario3.rendaMensalBruta" ng-tabindex="55">
    </div>
    </div>
 </div>
    
</fieldset>
</div>

</form>

<div layout="column" layout-gt-sm="row" layout-padding> 
<div class="md-block" flex-gt-sm="60">
      <div class="checkbox">
 		 <label style="font-size: 9pt"><input type="checkbox" name="cadastro.autorizaEnvioDados"  ng-model="cadastro.autorizaEnvioDados">
 		 DECLARO ESTAR CIENTE, NOS TERMOS DO INCISO I, ART. 7º e 8º DA  LEI Nº 13.709/18, QUE O MEUS DADOS PESSOAIS E INFORMAÇÕES COLETADOS NESTE FORMULÁRIO, 
 		 SERÃO ENVIADOS E SUBMETIDOS JUNTOS ÀS SEGURADORAS, COM A FINALIDADE ÚNICA E EXCLUSIVA DE ANÁLISE DE CADASTRO. A APROVAÇÃO OU REPROVAÇÃO DO CADASTRO 
 		 É DE RESPONSABILIDADE EXCLUSIVA DAS SEGURADORAS E ESTOU CIENTE QUE ESTES DADOS SÃO PROTEGIDOS E TRATADOS DE FORMA CONFIDENCIAL DE ACORDO COM A LEI 
 		 GERAL DE PROTEÇÃO DE DADOS – LEI DA  LEI Nº 13.709/18.</label>
	</div>
    </div>
</div>

<div layout="row" layout-align="center center">
    <div ng-if="passo != 1">
      <md-button class="md-raised" ng-click="passoAnterior()">
        <span aria-hidden="true">&larr;</span> Anterior
      </md-button>
    </div>

    <div>
      <md-button class="md-raised" style="background-color: green; color: white" ng-if="cadastro.autorizaEnvioDados" 
      		ng-click="validarDadosPessoaisESalvar('formDadosPessoais')">GRAVAR E ANALISAR <span aria-hidden="true"></span>
      </md-button>
      
      <button type="button" class="btn btn-success" disabled="disabled" ng-if="!cadastro.autorizaEnvioDados">GRAVAR E ANALISAR</button>
    </div>
  </div> 
</div> 