<form name="formDadosResidenciais" class="fundo-formulario">
<div layout="column" layout-padding layout-gt-sm="row">
  <!-- OBS: SE ALTERAR ESTE SELECT TEM QUE ALTERAR NO FormularioService onde captura esta informação-->
  <div class="md-block" flex-gt-sm="25">
        <label for="tempoResidencia">Tempo de Residencia</label>
          <select class="form-control" id="tempoResidencia" focus requerido
          ng-model="cadastro.residencia.tempoResidencia" ng-tabindex="1">
          <option value="MENOS DE 1 ANO">Menos de 1 ano</option>
          <option value="DE 1 A 2 ANOS">De 1 a 2 anos</option>
          <option value="DE 3 A 4 ANOS">De 3 a 4 anos</option>
          <option value="DE 5 A 10 ANOS">De 5 a 10 anos</option>
          <option value="ACIMA DE 10 ANOS">Acima de 10 anos</option>
        </select>
  </div>

  <div class="md-block" flex-gt-sm="15">
        <label for="tipoResidencia">Tipo Residência</label>
        <select class="form-control" id="tipoResidencia" requerido
        ng-model="cadastro.residencia.tipo" ng-tabindex="2">
          <option value="ALUGADA">Alugada</option>
          <option value="FINANCIADA">Financiada</option>
          <option value="PROPRIA">Própria</option>
          <option value="OUTROS">Outros</option>
        </select>
  </div>

  <div class="md-block" flex-gt-sm="20">
        <label for="emNome">Em nome de</label>
         <select class="form-control" id="emNome" requerido
          ng-model="cadastro.residencia.emNome" ng-tabindex="3">
          <option value="PRÓPRIO NOME">Próprio Nome</option>
          <option value="AMIGOS">Amigos</option>
          <option value="EMPRESA">Empresa</option>
          <option value="FAMILIARES">Familiares</option>
          <option value="OUTROS">Outros</option>
        </select>
  </div>

  <div class="md-block" flex-gt-sm="15" ng-if="cadastro.residencia.tipo == 'ALUGADA'">
        <label for="arcaAluguel">Arca com aluguel</label>
        <select class="form-control" id="arcaAluguel" ng-tabindex="4" requerido
        ng-model="cadastro.residencia.arcaAluguel">
          <option value="S">SIM</option>
          <option value="N">NÃO</option>
        </select>
  </div>

  
</div>

<div layout="column" layout-padding layout-gt-sm="row" ng-if="cadastro.residencia.tipo == 'ALUGADA'">
  <div class="md-block" flex-gt-sm="40">
        <label for="nomeImobiliaria">Nome da Imobiliária/Proprietário</label>
        <input type="text" id="nomeImobiliaria" upper name="nomeImobiliaria" 
        requerido bloqueia-caracteres-especiais
        class="form-control" ng-model="cadastro.residencia.nomeImobiliaria" 
        ng-tabindex="5">
  </div>

 <div class="md-block" flex-gt-sm="10">
      <label for="DDDTelImob">DDD</label>
      <select class="form-control" id="DDDTelImob" requerido
      	ng-model="cadastro.residencia.dddTelefoneImobiliaria">
        <option></option>
        <option value="11">11 - SP</option>
        <option value="12">12 - SP</option>
        <option value="13">13 - SP</option>
        <option value="14">14 - SP</option>
        <option value="15">15 - SP</option>
        <option value="16">16 - SP</option>
        <option value="17">17 - SP</option>
        <option value="18">18 - SP</option>
        <option value="19">19 - SP</option>
        <option value="21">21 - RJ</option>
        <option value="22">22 - RJ</option>
        <option value="24">24 - RJ</option>
        <option value="27">27 - ES</option>
        <option value="28">28 - ES</option>
        <option value="31" >31 - MG</option>
        <option value="32" >32 - MG</option>
        <option value="33">33 - MG</option>
        <option value="34">34 - MG</option>
        <option value="35">35 - MG</option>
        <option value="37">37 - MG</option>
        <option value="38">38 - MG</option>
        <option value="41">41 - PR</option>
        <option value="42">42 - PR</option>
        <option value="43">43 - PR</option>
        <option value="44">44 - PR</option>
        <option value="45">45 - PR</option>
        <option value="46">46 - PR</option>
        <option value="47">47 - SC</option>
        <option value="48">48 - SC</option>
        <option value="49">49 - SC</option>
        <option value="51">51 - RS</option>
        <option value="53">53 - RS</option>
        <option value="54">54 - RS</option>
        <option value="55">55 - RS</option>
        <option value="61">61 - DF</option>
        <option value="62">62 - GO</option>
        <option value="63">63 - TO</option>
        <option value="64">64 - GO</option>
        <option value="65">65 - MT</option>
        <option value="66">66 - MT</option>
        <option value="67">67 - MS</option>
        <option value="68">68 - AC</option>
        <option value="69">69 - RO</option>
        <option value="71">71 - BA</option>
        <option value="73">73 - BA</option>
        <option value="74">74 - BA</option>
        <option value="75">75 - BA</option>
        <option value="77">77 - BA</option>
        <option value="79">79 - SE</option>
        <option value="81">81 - PE</option>
        <option value="82">82 - AL</option>
        <option value="83">83 - PB</option>
        <option value="84">84 - RN</option>
        <option value="85">85 - CE</option>
        <option value="86">86 - PI</option>
        <option value="87">87 - PE</option>
        <option value="88">88 - CE</option>
        <option value="89">89 - PI</option>
        <option value="91">91 - PA</option>
        <option value="92">92 - AM</option>
        <option value="93">93 - PA</option>
        <option value="94">94 - PA</option>
        <option value="95">95 - RR</option>
        <option value="96">96 - AP</option>
        <option value="97">97 - AM</option>
        <option value="98">98 - MA</option>
        <option value="99">99 - MA</option>
      </select>
    </div>
    
  <div class="md-block" flex-gt-sm="15">
        <label for="telImobiliaria">Telefone Imobiliária/Proprietário</label>
        <input id="telImobiliaria" name="telefoneImobiliaria" requerido
        mobile="tel" mascara-telefone 
        class="form-control" ng-model="cadastro.residencia.telefoneImobiliaria" ng-tabindex="6">
  </div>
</div>

<div flex-gt-sm="40"><label> <h4>Endereço residencial atual</h4></label></div>

<div layout="column" layout-padding layout-gt-sm="row">
  <div class="md-block" flex-gt-sm="15">
      <label for="cepAnterior">CEP</label>
      <input mobile="text" mascara="99.999-999" id="cepAnterior" name="cepAnterior" 
      class="form-control" ng-model="cadastro.residencia.anterior.cep" requerido
      ng-blur="pesquisarCep(cadastro.residencia.anterior)" ng-tabindex="7">
    </div>

    <div class="md-block" flex-gt-sm="15">
      <label for="estadoAnterior">Estado</label>
      <select class="form-control" id="estadoAnterior" ng-tabindex="8"  requerido
      	name="estadoAnterior"  ng-model="cadastro.residencia.anterior.estado">
          <option value="AC">AC</option>
          <option value="AL">AL</option>
           <option value="AP">AP</option>
          <option value="AM">AM</option>
           <option value="BA">BA</option>
          <option value="CE">CE</option>
           <option value="DF">DF</option>
          <option value="ES">ES</option>
           <option value="GO">GO</option>
          <option value="MA">MA</option>
           <option value="MT">MT</option>
          <option value="MS">MS</option>
           <option value="MG">MG</option>
          <option value="PR">PR</option>
           <option value="PB">PB</option>
          <option value="PA">PA</option>
           <option value="PE">PE</option>
          <option value="PI">PI</option>
           <option value="RJ">RJ</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SC">SC</option>
          <option value="SE">SE</option>
          <option value="SP">SP</option>
          <option value="TO">TO</option>
        </select>
    </div>

    <div class="md-block" flex-gt-sm="25">
      <label for="cidadeAnterior">Cidade</label>
      <input type="text" id="cidadeAnterior" upper name="cidadeAnterior" requerido bloqueia-caracteres-especiais
      class="form-control" ng-model="cadastro.residencia.anterior.cidade"  ng-tabindex="9">
    </div>

    <div class="md-block" flex-gt-sm="45">
      <label for="enderecoAnterior">Endereço</label>
      <input type="text" id="enderecoAnterior" upper name="enderecoAnterior" requerido bloqueia-caracteres-especiais
      class="form-control" ng-model="cadastro.residencia.anterior.endereco"  ng-tabindex="10">
    </div>

  </div>

<div layout="column" layout-padding layout-gt-sm="row">
  <div class="md-block" flex-gt-sm="35">
      <label for="complemento">Complemento</label>
      <input type="text" id="complemento" upper name="complemento" bloqueia-caracteres-especiais
      class="form-control" ng-model="cadastro.residencia.anterior.complemento"  ng-tabindex="11">
    </div>

    <div class="md-block" flex-gt-sm="35">
      <label for="bairroAnterior">Bairro</label>
      <input type="text" id="bairroAnterior" upper name="bairroAnterior" requerido bloqueia-caracteres-especiais
      class="form-control" ng-model="cadastro.residencia.anterior.bairro"  ng-tabindex="12">
    </div>

     <div class="md-block" flex-gt-sm="15">
      <label for="numeroAnterior">Numero</label>
      <input type="text" id="numeroAnterior" name="numeroAnterior"
      class="form-control" ng-model="cadastro.residencia.anterior.numero" ng-tabindex="13">
    </div>
</div>
</form>

<div layout="row" layout-align="center center">
    <div ng-if="passo != 1">
      <md-button class="md-raised" ng-click="passoAnterior()">
        <span aria-hidden="true">&larr;</span> Anterior
      </md-button>
    </div>

    <div>
      <md-button class="md-raised md-primary" ng-click="validarDadosResidenciais('formDadosResidenciais')">Seguinte <span aria-hidden="true">&rarr;</span>
      </md-button>
    </div>
  </div>   