<form name="formDadosPretendente" class="fundo-formulario">
   <div layout="column" layout-gt-sm="row" layout-padding>
     <div class="md-block" flex-gt-sm="50">
        <label for="nome">Nome do Pretendente</label>
        <input type="text" id="nome" upper name="nome" focus requerido 
        sem-acento
        class="form-control" ng-model="cadastro.pretendente.nome" ng-tabindex="1">
      </div>
  

    <div class="md-block" flex-gt-sm="25">
      <label for="cpf">CPF</label>
      <input mobile="number"  mascara="999.999.999-99"  id="cpf" name="cpf" requerido
      class="form-control" ng-model="cadastro.pretendente.cpf" ng-tabindex="2">
    </div>

    <div flex-gt-sm="25">
      <label for="dataNascimento">Data Nascimento</label>
      <input id="dataNascimento" name="dataNascimento" class="form-control" 
      datepicker mascara="99/99/9999" requerido
      ng-model="cadastro.pretendente.dataNascimento" ng-tabindex="3">
    </div>

  </div>

<div layout="column" layout-gt-sm="row" layout-padding>

   <div class="md-block" flex-gt-sm="15">
      <label for="tpDoc">Tipo Documento</label>
      <select class="form-control" id="tpDoc" requerido
        ng-model="cadastro.pretendente.tipoDoc" ng-tabindex="4">
        <option value="RG">RG</option>
        <option value="CNH">CNH</option>
        <option value="RNE">RNE</option>
        <option value="ORDEM">ORDEM</option>
        <option value="CONSELHO">CONSELHO</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="40">
      <label for="numDoc">Numero do Documento</label>
      <input type="number" id="numDoc" name="numDoc" class="form-control" requerido
      ng-model="cadastro.pretendente.numDoc" ng-tabindex="5">
    </div>

    <div class="md-block" flex-gt-sm="20" ng-if="cadastro.pretendente.tipoDoc == 'RG'">
      <label for="orgaoExpedidor">Orgão Expedidor</label>
      <input type="text" id="orgaoExpedidor" name="orgaoExpedidor" requerido
      class="form-control" ng-model="cadastro.pretendente.orgaoExpedidor" ng-tabindex="6">
    </div>

    <div flex-gt-sm="20">
      <label for="dataEmissao">Data Emissão</label>
      <input id="dataEmissao" name="dataEmissao" requerido
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pretendente.dataEmissao" ng-tabindex="7">
    </div>

    <div flex-gt-sm="20" ng-if="cadastro.pretendente.tipoDoc !== 'RG'">
      <label for="dataValidade">Data Validade</label>
      <input id="dataValidade" name="dataValidade" requerido
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pretendente.dataValidade" ng-tabindex="8">
    </div>

  </div>

<div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="25">
      <label for="sexo">Sexo</label>
      <select class="form-control" id="sexo" requerido
        ng-model="cadastro.pretendente.sexo" ng-tabindex="9">
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="25">
      <label for="estadoCivil">Estado Civil</label>
      <select class="form-control" id="estadoCivil" requerido
        ng-model="cadastro.pretendente.estadoCivil" ng-tabindex="10">
        <option value="SOLTEIRO">Solteiro(a)</option>
        <option value="CASADO">Casado(a)</option>
        <option value="SEPARADO">Separado(a)</option>
        <option value="VIUVO">Viuvo(a)</option>
        <option value="DIVORCIADO">Divorciado(a)</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="25" ng-if="cadastro.pretendente.estadoCivil == 'CASADO'">
      <label for="cpfConjuge">CPF Cônjuge</label>
      <input mobile="number" mascara="999.999.999-99" id="cpfConjuge" name="cpfConjuge" 
      class="form-control" ng-model="cadastro.pretendente.cpfConjuge" requerido
      ng-tabindex="11">
    </div>

    <div class="md-block" flex-gt-sm="25">
      <label for="numeroDependente">Nº Dependentes</label>
      <input type="number" id="numeroDependente" name="numeroDependente" 
      class="form-control" ng-model="cadastro.pretendente.numeroDependente" ng-tabindex="12">
    </div>

  </div>

    
<div layout="column" layout-gt-sm="row" layout-padding>
     <div class="md-block" flex-gt-sm="50">
      <label for="nomeMae">Nome Mãe</label>
      <input type="text" id="nomeMae" upper name="nomeMae"
      class="form-control" ng-model="cadastro.pretendente.nomeMae" ng-tabindex="13">
    </div>

    <div class="md-block" flex-gt-sm="50">
      <label for="nomePai">Nome Pai</label>
      <input type="text" id="nomePai" upper name="nomePai" 
      class="form-control" ng-model="cadastro.pretendente.nomePai" ng-tabindex="14">
    </div>
</div>
   
  <div layout="column" layout-gt-sm="row" layout-padding> 
    <div class="md-block" flex-gt-sm="55">
      <label for="nacionalidade">Nacionalidade</label>
      <input type="text" id="nacionalidade" name="nacionalidade" requerido
      class="form-control" ng-model="cadastro.pretendente.nacionalidade" ng-tabindex="15">
    </div>  

     <div class="md-block" flex-gt-sm="25">
      <label for="tempoPais">Tempo no País (se for estrangeiro)</label>
      <input type="text" id="tempoPais" name="tempoPais" upper
      class="form-control" ng-model="cadastro.pretendente.tempoPais" ng-tabindex="16">
    </div>

    <div class="md-block" flex-gt-sm="25">
      <label for="iraResidirImovel">Pretendente irá residir no imóvel</label>
      <select class="form-control" id="iraResidirImovel" flex-gt-sm="40" requerido
      ng-model="cadastro.pretendente.iraResidirImovel" ng-tabindex="17">
        <option value="S">SIM</option>
        <option value="N">NÃO</option>
      </select>
    </div>

  </div>

  <div layout="column" layout-padding layout-gt-sm="row">
  <div class="alert alert-info">
      É necessário preenchimento de ao menos um número de telefone
    </div> 
</div>

  <div layout="column" layout-gt-sm="row" layout-padding> 
    <div class="md-block" flex-gt-sm="15">
      <label for="telefone">Telefone</label>
      <input mobile="tel" mascara-telefone
      id="telefone" name="telefone"
      class="form-control" ng-model="cadastro.pretendente.telefone" ng-tabindex="19">
    </div>

    <div class="md-block" flex-gt-sm="15">
      <label for="celular">Celular</label>
      <input mobile="tel" mascara-telefone 
      id="celular" name="celular"
      class="form-control" ng-model="cadastro.pretendente.celular" ng-tabindex="20">
    </div>

    <div class="md-block" flex-gt-sm="15">
      <label for="telefoneComercial">Telefone Comercial</label>
      <input mobile="tel" mascara-telefone id="telefoneComercial" name="telefoneComercial" 
      class="form-control" ng-model="cadastro.pretendente.telefoneComercial" ng-tabindex="21">
    </div>

    <div class="md-block" flex-gt-sm="55">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" requerido
      class="form-control" ng-model="cadastro.pretendente.email" ng-tabindex="22">
    </div>
  </div>
</form>

<div layout="row" layout-align="center center">
    <div>
      <md-button class="md-raised md-primary" 
      ng-click="validarDadosPretendente('formDadosPretendente')">Seguinte 
        <span aria-hidden="true">&rarr;</span>
      </md-button>
    </div>
  </div> 