<form name="formDadosPessoais" class="fundo-formulario">
   <div layout="column" layout-gt-sm="row" layout-padding>

    <div class="md-block" flex-gt-sm="15">
        <label for="tpPessoa">Tipo Pessoa</label>
        <select class="form-control" name="tipoPessoa" id="tpPessoa" 
          ng-model="cadastro.pessoal.tipoPessoa" ng-tabindex="1">
          <option value="FISICA">Física</option>
          <option value="JURIDICA">Jurídica</option>
      </select>
      </div>

     <div class="md-block" flex-gt-sm="60">
        <label for="nome">Nome</label>
        <input type="text" id="nome" upper name="nome" focus requerido 
        class="form-control" ng-model="cadastro.pessoal.nome" ng-tabindex="2">
      </div>
  
    <div class="md-block" flex-gt-sm="20">
      <label for="telefone">Telefone</label>
      <input mobile="tel" mascara-telefone id="telefone" name="telefone" 
      class="form-control" ng-model="cadastro.pessoal.telefone" ng-tabindex="3">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="celular">Celular</label>
      <input mobile="tel" mascara-telefone id="celular" name="celular" 
      class="form-control" ng-model="cadastro.pessoal.celular" ng-tabindex="4">
    </div>
  </div>

  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="50">
      <label for="grauParentesco">Grau de Parentesco</label>
      <input type="text" id="grauParentesco" upper name="nome" 
      class="form-control" ng-model="cadastro.pessoal.grauParentesco" ng-tabindex="5">
    </div>

    <div class="md-block" flex-gt-sm="35">
      <label for="possuiRendaArcarLocacao">Possui renda suficiente para arcar com a locação</label>
      <select class="form-control" id="possuiRendaArcarLocacao" flex-gt-sm="35" requerido
      ng-model="cadastro.pessoal.possuiRendaArcarLocacao" ng-tabindex="18" ng-change="alertaLocatarioSolidario()">
        <option value="SIM">SIM</option>
        <option value="NAO">NÃO</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="25" ng-if="cadastro.pessoal.possuiRendaArcarLocacao == 'NAO'">
      <label>Nº Pessoas compondo renda (Locatários Solidários)</label>
      <select class="form-control" flex-gt-sm="30"
      ng-model="cadastro.pessoal.numSolidarios" ng-tabindex="6">
        <option value=0>0</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
      </select>
    </div>
  </div>

<div ng-if="cadastro.pessoal.possuiRendaArcarLocacao == 'NAO'">
<fieldset class="scheduler-border" ng-if="cadastro.pessoal.numSolidarios >=1">
  <legend class="scheduler-border">LOCATÁRIO SOLIDÁRIO 1</legend>
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="60">
        <label for="nome1">Nome</label>
        <input type="text" id="nome1" upper name="nome1" focus 
        class="form-control" ng-model="cadastro.pessoal.solidario1.nome" ng-tabindex="7">
    </div>



    <div class="md-block" flex-gt-sm="20">
      <label for="cpf1">CPF</label>
      <input mobile="number"  mascara="999.999.999-99"  id="cpf1" name="cpf1"
      class="form-control" ng-model="cadastro.pessoal.solidario1.cpf" ng-tabindex="8">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="telefone1">Telefone</label>
      <input mobile="tel" mascara-telefone id="telefone1" name="telefone" 
      class="form-control" ng-model="cadastro.pessoal.solidario1.telefone" ng-tabindex="9">
    </div>  
  </div>

  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="20">
      <label>Sexo</label>
      <select class="form-control" ng-model="cadastro.pessoal.solidario1.sexo" ng-tabindex="10">
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="40">
      <label for="numDoc1">Numero do Documento (RG/RNE/Ordem/Conselho)</label>
      <input type="number" id="numDoc1" name="numDoc1" class="form-control" 
      ng-model="cadastro.pessoal.solidario1.numDoc" 
      ng-tabindex="11">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="orgaoExpedidor1">Orgão Expedidor</label>
      <input type="text" id="orgaoExpedidor1" name="orgaoExpedidor1" 
      class="form-control" 
      ng-model="cadastro.pessoal.solidario1.orgaoExpedidor" ng-tabindex="12">
    </div>

    <div flex-gt-sm="20">
      <label for="dataEmissao1">Data Emissão</label>
      <input id="dataEmissao1" name="dataEmissao1" 
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario1.dataEmissao" ng-tabindex="13">
    </div>
  </div>
</fieldset>

<fieldset class="scheduler-border" ng-if="cadastro.pessoal.numSolidarios >=2">
  <legend class="scheduler-border">LOCATÁRIO SOLIDÁRIO 2</legend>
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="60">
        <label for="nome2">Nome</label>
        <input type="text" id="nome2" upper name="nome2" 
        class="form-control" ng-model="cadastro.pessoal.solidario2.nome" ng-tabindex="14">
    </div>



    <div class="md-block" flex-gt-sm="20">
      <label for="cpf2">CPF</label>
      <input mobile="number"  mascara="999.999.999-99"  id="cpf2" name="cpf2"
      class="form-control" ng-model="cadastro.pessoal.solidario2.cpf" ng-tabindex="15">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="telefone2">Telefone</label>
      <input mobile="tel" mascara-telefone id="telefone2" name="telefone2" 
      class="form-control" ng-model="cadastro.pessoal.solidario2.telefone" ng-tabindex="16">
    </div>  
  </div>

  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="20">
      <label>Sexo</label>
      <select class="form-control" ng-model="cadastro.pessoal.solidario2.sexo" ng-tabindex="17">
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="40">
      <label for="numDoc2">Numero do Documento (RG/RNE/Ordem/Conselho)</label>
      <input type="number" id="numDoc2" name="numDoc2" class="form-control" 
      ng-model="cadastro.pessoal.solidario2.numDoc" 
      ng-tabindex="18">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="orgaoExpedidor2">Orgão Expedidor</label>
      <input type="text" id="orgaoExpedidor2" name="orgaoExpedidor2" 
      class="form-control" 
      ng-model="cadastro.pessoal.solidario2.orgaoExpedidor" ng-tabindex="19">
    </div>

    <div flex-gt-sm="20">
      <label for="dataEmissao2">Data Emissão</label>
      <input id="dataEmissao2" name="dataEmissao2" 
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario2.dataEmissao" ng-tabindex="20">
    </div>
  </div>
</fieldset>

<fieldset class="scheduler-border" ng-if="cadastro.pessoal.numSolidarios ==3">
  <legend class="scheduler-border">LOCATÁRIO SOLIDÁRIO 3</legend>
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="60">
        <label for="nome3">Nome</label>
        <input type="text" id="nome3" upper name="nome3" 
        class="form-control" ng-model="cadastro.pessoal.solidario3.nome" ng-tabindex="21">
    </div>



    <div class="md-block" flex-gt-sm="20">
      <label for="cpf3">CPF</label>
      <input mobile="number"  mascara="999.999.999-99"  id="cpf3" name="cpf3"
      class="form-control" ng-model="cadastro.pessoal.solidario3.cpf" ng-tabindex="22">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="telefone3">Telefone</label>
      <input mobile="tel" mascara-telefone id="telefone3" name="telefone3" 
      class="form-control" ng-model="cadastro.pessoal.solidario3.telefone" ng-tabindex="23">
    </div>  
  </div>

  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="md-block" flex-gt-sm="20">
      <label>Sexo</label>
      <select class="form-control" ng-model="cadastro.pessoal.solidario3.sexo" ng-tabindex="24">
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
      </select>
    </div>

    <div class="md-block" flex-gt-sm="40">
      <label for="numDoc3">Numero do Documento (RG/RNE/Ordem/Conselho)</label>
      <input type="number" id="numDoc3" name="numDoc3" class="form-control" 
      ng-model="cadastro.pessoal.solidario3.numDoc" 
      ng-tabindex="25">
    </div>

    <div class="md-block" flex-gt-sm="20">
      <label for="orgaoExpedidor3">Orgão Expedidor</label>
      <input type="text" id="orgaoExpedidor3" name="orgaoExpedidor3" 
      class="form-control" 
      ng-model="cadastro.pessoal.solidario3.orgaoExpedidor" ng-tabindex="26">
    </div>

    <div flex-gt-sm="20">
      <label for="dataEmissao3">Data Emissão</label>
      <input id="dataEmissao3" name="dataEmissao3" 
      class="form-control" datepicker mascara="99/99/9999"
      ng-model="cadastro.pessoal.solidario3.dataEmissao" ng-tabindex="27">
    </div>
  </div>
</fieldset>
</div>

</form>

<div layout="row" layout-align="center center">
    <div ng-if="passo != 1">
      <md-button class="md-raised" ng-click="passoAnterior()">
        <span aria-hidden="true">&larr;</span> Anterior
      </md-button>
    </div>

    <div>
      <md-button class="md-raised" style="background-color: green; color: white" 
      ng-click="salvar()">Enviar <span aria-hidden="true"></span>
      </md-button>
    </div>
  </div> 
</div> 