<form name="formDadosProfissionais" class="fundo-formulario">

<div layout="column" layout-padding layout-gt-sm="row">
    <div class="md-block" flex-gt-sm="40">
      <label for="naturezaRenda">Natureza da renda / Vínculo empregatício</label>
      <select class="form-control" id="naturezaRenda" requerido focus
          ng-model="cadastro.profissional.naturezaRenda" ng-tabindex="1">
          <option value="aposentado/pensionista">Aposentado / Pensionista</option>
          <option value="AUTONOMO">Autônomo</option>
          <option value="EMPRESARIO">Empresário</option>
          <option value="ESTUDANTE">Estudante</option>
          <option value="FUNCIONARIO PÚBLICO">Funcionário Público</option>
          <option value="FUNCIONÁRIO COM REGISTRO CLT">Funcionário com Registro CLT</option>
          <option value="PROFISSIONAL LIBERAL">Profissional Liberal</option>
          <option value="RENDA PROVENIENTE DE ALUGUÉIS">Renda Proveniente de Aluguéis</option>
        </select>
    </div>

    <div class="md-block" flex-gt-sm="40">
      <label for="profissao">Profissão</label>
      <input type="text" id="profissao" name="profissional" ng-tabindex="2" upper
      class="form-control" ng-model="cadastro.profissional.profissao">
    </div>

    <div class="md-block" flex-gt-sm="20" 
    ng-if="cadastro.profissional.naturezaRenda == 'FUNCIONARIO PÚBLICO' || 
    cadastro.profissional.naturezaRenda == 'FUNCIONÁRIO COM REGISTRO CLT'">
      <label for="dataAdmissao">Data Admissão</label>
      <input id="dataAdmissao" name="dataAdmissao" requerido
      datepicker mascara="99/99/9999" ng-tabindex="3"
      class="form-control" ng-model="cadastro.profissional.dataAdmissao">
    </div>

  </div>

<div layout="column" layout-padding layout-gt-sm="row">
    <div class="md-block" flex-gt-sm="15">
      <label for="salario">Salário Bruto</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="number" mascara-monetaria id="salario" ng-tabindex="4" requerido
      name="salario" class="form-control" ng-model="cadastro.profissional.salario">
    </div>
    </div>

    <div class="md-block" flex-gt-sm="55">
      <label for="outrosRendimentos">Informar todos os outros rendimentos se houver</label>
      <input type="text" id="outrosRendimentos" ng-tabindex="5"
      name="outrosRendimentos" upper
      class="form-control" ng-model="cadastro.profissional.outrosRendimentos">
    </div>

    <div class="md-block" flex-gt-sm="30">
      <label for="totalRendimentos">Total Mensal de Outros Rendimentos</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="number" mascara-monetaria id="totalRendimentos" 
      name="totalRendimentos" ng-tabindex="6"
      class="form-control" ng-model="cadastro.profissional.totalRendimentos">
    </div>
    </div>

</div>

<div layout="column" layout-padding layout-gt-sm="row">
  <div class="md-block" flex-gt-sm="60">
        <label for="empresa">Nome da Empresa/Instituição/Órgão em que trabalha</label>
        <input type="text" id="empresa" upper name="empresa" 
        class="form-control" ng-model="cadastro.profissional.empresa" ng-tabindex="7">
      </div>

    <div class="md-block" flex-gt-sm="20">
        <label for="telefone">Telefone</label>
        <input mobile="tel" mascara-telefone id="telefone" ng-tabindex="8"
        name="telefone" class="form-control" ng-model="cadastro.profissional.telefone">
      </div>

      <div class="md-block" flex-gt-sm="20">
        <label for="ramal">Ramal</label>
        <input type="tel" id="ramal" name="ramal" class="form-control" ng-tabindex="9"
        ng-model="cadastro.profissional.ramal">
      </div>

  </div>

<div layout="column" layout-padding layout-gt-sm="row">
     <div class="md-block" flex-gt-sm="50">
      <label for="empresaAnterior">Empresa/Instituição Anterior (se atual menor que 1 ano)</label>
      <input type="text" id="empresaAnterior" upper name="empresaAnterior" 
      class="form-control" ng-model="cadastro.profissional.empresaAnterior"  ng-tabindex="10">
    </div>

    
</div>

<div layout="column" layout-padding layout-gt-sm="row">
     <div class="md-block" flex-gt-sm="40">
      <label for="possuiRefBancaria">Pretendente possui referências Bancárias</label>
      <select class="form-control" id="possuiRefBancaria" flex-gt-sm="25" ng-tabindex="11"
      ng-model="cadastro.profissional.possuiRefBancaria">
        <option value="sim">SIM</option>
        <option value="nao">NÃO</option>
      </select>
    </div>

</div>


    <div ng-if="cadastro.profissional.possuiRefBancaria == 'sim' ">
  <div layout="column" layout-padding layout-gt-sm="row">
      <div class="md-block" flex-gt-sm="50">
        <label for="banco">Banco</label>
        <input type="text" id="banco" name="banco" class="form-control" upper
        ng-model="cadastro.profissional.banco" ng-tabindex="12">
      </div>

      <div class="md-block" flex-gt-sm="25">
        <label for="agencia">Agência</label>
        <input type="text" id="agencia" name="agencia" class="form-control" upper 
        ng-model="cadastro.profissional.agencia" 
        ng-tabindex="13">
      </div>

      <div class="md-block" flex-gt-sm="25">
        <label for="contaCorrente">Conta Corrente</label>
        <input type="text" id="contaCorrente" name="contaCorrente" class="form-control" ng-model="cadastro.profissional.contaCorrente" 
        ng-tabindex="14">
      </div>

</div>

<div layout="column" layout-padding layout-gt-sm="row">
      <div class="md-block" flex-gt-sm="50">
        <label for="gerente">Gerente</label>
        <input type="text" id="gerente" name="gerente" class="form-control" upper
        ng-model="cadastro.profissional.gerente" 
       ng-tabindex="15">
      </div>

      <div class="md-block" flex-gt-sm="20">
        <label for="telefone">Telefone</label>
        <input mobile="tel" mascara-telefone id="telefone" name="telefoneGerente" class="form-control" ng-model="cadastro.profissional.telefoneGerente" 
       ng-tabindex="16">
      </div>

  </div>
</div>
</form>

<div layout="row" layout-align="center center">
    <div ng-if="passo != 1">
      <md-button class="md-raised" ng-click="passoAnterior()">
        <span aria-hidden="true">&larr;</span> Anterior
      </md-button>
    </div>

    <div>
      <md-button class="md-raised md-primary" ng-click="validarDadosProfissionais('formDadosProfissionais')">Seguinte <span aria-hidden="true">&rarr;</span>
      </md-button>
    </div>
  </div> 