<form name="formDadosProfissionais" class="fundo-formulario" ng-init="select2Load()">

<div layout="column" layout-padding layout-gt-sm="row" ng-init="select2EditaCombo()">
    <div class="md-block" flex-gt-sm="40">
      <label for="naturezaRenda">Natureza da renda / Vínculo empregatício</label>
      <select class="form-control" id="naturezaRenda" requerido focus
          ng-model="cadastro.profissional.naturezaRenda" ng-tabindex="1">
          <option value="aposentado/pensionista">Aposentado / Pensionista</option>
          <option value="AUTONOMO">Autônomo</option>
          <option value="EMPRESARIO">Empresário</option>
          <option value="ESTUDANTE">Estudante</option>
          <option value="FUNCIONARIO PÚBLICO">Funcionário Público</option>
          <option value="FUNCIONÁRIO COM REGISTRO CLT">Funcionário com Registro CLT</option>
          <option value="PROFISSIONAL LIBERAL">Profissional Liberal</option>
          <option value="RENDA PROVENIENTE DE ALUGUÉIS">Renda Proveniente de Aluguéis</option>
        </select>
    </div>

<!--
    <div class="md-block" flex-gt-sm="40">
      <label for="profissao">Profissão</label>
      <input type="text" id="profissao" name="profissional" ng-tabindex="2" upper
      class="form-control" ng-model="cadastro.profissional.profissao">
    </div>  -->
	
	<div class="md-block" flex-gt-sm="30" >
        <label for="profissao">Profissão</label>
		<select class="form-control" id="profissao" ng-model="cadastro.profissional.profissao" ng-tabindex="1" style = "width:100%;">  
			<option ng-if="cadastro.profissional.profissao != '' || cadastro.profissional.profissao != undefined">{{select2EditaCombo()}}</option>
		</select>								        
    </div>
	 
    <div class="md-block" flex-gt-sm="20" 
    ng-if="cadastro.profissional.naturezaRenda == 'FUNCIONARIO PÚBLICO' || 
    cadastro.profissional.naturezaRenda == 'FUNCIONÁRIO COM REGISTRO CLT'">
      <label for="dataAdmissao">Data Admissão</label>
      <input id="dataAdmissao" name="dataAdmissao" requerido valida-data
      datepicker mascara="99/99/9999" ng-tabindex="3"
      class="form-control" ng-model="cadastro.profissional.dataAdmissao">
    </div>

  </div>

<div layout="column" layout-padding layout-gt-sm="row">
    <div class="md-block" flex-gt-sm="15">
      <label for="salario">Salário Bruto</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="text" mascara-monetaria id="salario" ng-tabindex="4" requerido valida-monetario
      name="salario" class="form-control" ng-model="cadastro.profissional.salario">
    </div>
    </div>

    <div class="md-block" flex-gt-sm="55">
      <label for="outrosRendimentos">Descrever todos os outros rendimentos se houver</label>
      <input type="text" id="outrosRendimentos" ng-tabindex="5"
      name="outrosRendimentos" upper maxlength="20" 
      class="form-control" ng-model="cadastro.profissional.outrosRendimentos">
    </div>

    <div class="md-block" flex-gt-sm="30">
      <label for="totalRendimentos">Total Mensal de Outros Rendimentos</label>
      <div class="input-group">
      <span class="input-group-addon"
        id="basic-addon1">R$</span>
      <input mobile="text" mascara-monetaria id="totalRendimentos" 
      name="totalRendimentos" ng-tabindex="6"
      class="form-control" ng-model="cadastro.profissional.totalRendimentos">
    </div>
    </div>

</div>

<div layout="column" layout-padding layout-gt-sm="row">
  <div class="md-block" flex-gt-sm="50">
        <label for="empresa">Nome da Empresa/Instituição/Órgão em que trabalha</label>
        <input type="text" id="empresa" upper name="empresa" 
        class="form-control" ng-model="cadastro.profissional.empresa" ng-tabindex="7" requerido>
    </div>

	<div class="md-block" flex-gt-sm="10">
      <label for="DDDTel">DDD</label>
      <select class="form-control" id="DDDTel" requerido
      	ng-model="cadastro.profissional.dddTelefone">
        <option></option>
        <option value="11">11 - SP</option>
        <option value="12">12 - SP</option>
        <option value="13">13 - SP</option>
        <option value="14">14 - SP</option>
        <option value="15">15 - SP</option>
        <option value="16">16 - SP</option>
        <option value="17">17 - SP</option>
        <option value="18">18 - SP</option>
        <option value="19">19 - SP</option>
        <option value="21">21 - RJ</option>
        <option value="22">22 - RJ</option>
        <option value="24">24 - RJ</option>
        <option value="27">27 - ES</option>
        <option value="28">28 - ES</option>
        <option value="31" >31 - MG</option>
        <option value="32" >32 - MG</option>
        <option value="33">33 - MG</option>
        <option value="34">34 - MG</option>
        <option value="35">35 - MG</option>
        <option value="37">37 - MG</option>
        <option value="38">38 - MG</option>
        <option value="41">41 - PR</option>
        <option value="42">42 - PR</option>
        <option value="43">43 - PR</option>
        <option value="44">44 - PR</option>
        <option value="45">45 - PR</option>
        <option value="46">46 - PR</option>
        <option value="47">47 - SC</option>
        <option value="48">48 - SC</option>
        <option value="49">49 - SC</option>
        <option value="51">51 - RS</option>
        <option value="53">53 - RS</option>
        <option value="54">54 - RS</option>
        <option value="55">55 - RS</option>
        <option value="61">61 - DF</option>
        <option value="62">62 - GO</option>
        <option value="63">63 - TO</option>
        <option value="64">64 - GO</option>
        <option value="65">65 - MT</option>
        <option value="66">66 - MT</option>
        <option value="67">67 - MS</option>
        <option value="68">68 - AC</option>
        <option value="69">69 - RO</option>
        <option value="71">71 - BA</option>
        <option value="73">73 - BA</option>
        <option value="74">74 - BA</option>
        <option value="75">75 - BA</option>
        <option value="77">77 - BA</option>
        <option value="79">79 - SE</option>
        <option value="81">81 - PE</option>
        <option value="82">82 - AL</option>
        <option value="83">83 - PB</option>
        <option value="84">84 - RN</option>
        <option value="85">85 - CE</option>
        <option value="86">86 - PI</option>
        <option value="87">87 - PE</option>
        <option value="88">88 - CE</option>
        <option value="89">89 - PI</option>
        <option value="91">91 - PA</option>
        <option value="92">92 - AM</option>
        <option value="93">93 - PA</option>
        <option value="94">94 - PA</option>
        <option value="95">95 - RR</option>
        <option value="96">96 - AP</option>
        <option value="97">97 - AM</option>
        <option value="98">98 - MA</option>
        <option value="99">99 - MA</option>
      </select>
    </div>
    
    <div class="md-block" flex-gt-sm="15">
        <label for="telefone">Telefone</label>
        <input mobile="tel" mascara-telefone id="telefone" ng-tabindex="8"
        name="telefone" class="form-control" ng-model="cadastro.profissional.telefone" requerido>
      </div>

      <div class="md-block" flex-gt-sm="20">
        <label for="ramal">Ramal</label>
        <input type="tel" id="ramal" name="ramal" class="form-control" ng-tabindex="9"
        ng-model="cadastro.profissional.ramal">
      </div>

  </div>

<div layout="column" layout-padding layout-gt-sm="row">
     <div class="md-block" flex-gt-sm="50">
      <label for="empresaAnterior">Empresa/Instituição Anterior (se atual menor que 1 ano)</label>
      <input type="text" id="empresaAnterior" upper name="empresaAnterior" 
      class="form-control" ng-model="cadastro.profissional.empresaAnterior"  ng-tabindex="10">
    </div>

    
</div>

<div layout="column" layout-padding layout-gt-sm="row">
     <div class="md-block" flex-gt-sm="40">
      <label for="possuiRefBancaria">Pretendente possui referências Bancárias</label>
      <select class="form-control" id="possuiRefBancaria" flex-gt-sm="25" ng-tabindex="11"
      ng-model="cadastro.profissional.possuiRefBancaria">
        <option value="sim">SIM</option>
        <option value="nao">NÃO</option>
      </select>
    </div>

</div>


    <div ng-if="cadastro.profissional.possuiRefBancaria == 'sim' ">
  <div layout="column" layout-padding layout-gt-sm="row">
      <div class="md-block" flex-gt-sm="50">
        <label for="banco">Banco</label>
        <input type="text" id="banco" name="banco" class="form-control" upper
        ng-model="cadastro.profissional.banco" ng-tabindex="12">
      </div>

      <div class="md-block" flex-gt-sm="25">
        <label for="agencia">Agência</label>
        <input type="text" id="agencia" name="agencia" class="form-control" upper 
        ng-model="cadastro.profissional.agencia" 
        ng-tabindex="13">
      </div>

      <div class="md-block" flex-gt-sm="25">
        <label for="contaCorrente">Conta Corrente</label>
        <input type="text" id="contaCorrente" name="contaCorrente" class="form-control" ng-model="cadastro.profissional.contaCorrente" 
        ng-tabindex="14">
      </div>

</div>

<div layout="column" layout-padding layout-gt-sm="row">
      <div class="md-block" flex-gt-sm="50">
        <label for="gerente">Gerente</label>
        <input type="text" id="gerente" name="gerente" class="form-control" upper
        ng-model="cadastro.profissional.gerente" 
       ng-tabindex="15">
      </div>

		<div class="md-block" flex-gt-sm="10">
      <label for="DDDTelGerente">DDD</label>
      <select class="form-control" id="DDDTelGerente"
      	ng-model="cadastro.profissional.dddTelefoneGerente">
        <option></option>
        <option value="11">11 - SP</option>
        <option value="12">12 - SP</option>
        <option value="13">13 - SP</option>
        <option value="14">14 - SP</option>
        <option value="15">15 - SP</option>
        <option value="16">16 - SP</option>
        <option value="17">17 - SP</option>
        <option value="18">18 - SP</option>
        <option value="19">19 - SP</option>
        <option value="21">21 - RJ</option>
        <option value="22">22 - RJ</option>
        <option value="24">24 - RJ</option>
        <option value="27">27 - ES</option>
        <option value="28">28 - ES</option>
        <option value="31" >31 - MG</option>
        <option value="32" >32 - MG</option>
        <option value="33">33 - MG</option>
        <option value="34">34 - MG</option>
        <option value="35">35 - MG</option>
        <option value="37">37 - MG</option>
        <option value="38">38 - MG</option>
        <option value="41">41 - PR</option>
        <option value="42">42 - PR</option>
        <option value="43">43 - PR</option>
        <option value="44">44 - PR</option>
        <option value="45">45 - PR</option>
        <option value="46">46 - PR</option>
        <option value="47">47 - SC</option>
        <option value="48">48 - SC</option>
        <option value="49">49 - SC</option>
        <option value="51">51 - RS</option>
        <option value="53">53 - RS</option>
        <option value="54">54 - RS</option>
        <option value="55">55 - RS</option>
        <option value="61">61 - DF</option>
        <option value="62">62 - GO</option>
        <option value="63">63 - TO</option>
        <option value="64">64 - GO</option>
        <option value="65">65 - MT</option>
        <option value="66">66 - MT</option>
        <option value="67">67 - MS</option>
        <option value="68">68 - AC</option>
        <option value="69">69 - RO</option>
        <option value="71">71 - BA</option>
        <option value="73">73 - BA</option>
        <option value="74">74 - BA</option>
        <option value="75">75 - BA</option>
        <option value="77">77 - BA</option>
        <option value="79">79 - SE</option>
        <option value="81">81 - PE</option>
        <option value="82">82 - AL</option>
        <option value="83">83 - PB</option>
        <option value="84">84 - RN</option>
        <option value="85">85 - CE</option>
        <option value="86">86 - PI</option>
        <option value="87">87 - PE</option>
        <option value="88">88 - CE</option>
        <option value="89">89 - PI</option>
        <option value="91">91 - PA</option>
        <option value="92">92 - AM</option>
        <option value="93">93 - PA</option>
        <option value="94">94 - PA</option>
        <option value="95">95 - RR</option>
        <option value="96">96 - AP</option>
        <option value="97">97 - AM</option>
        <option value="98">98 - MA</option>
        <option value="99">99 - MA</option>
      </select>
    </div>
    
      <div class="md-block" flex-gt-sm="15">
        <label for="telefone">Telefone</label>
        <input mobile="tel" mascara-telefone id="telefone" name="telefoneGerente" class="form-control" ng-model="cadastro.profissional.telefoneGerente" 
       ng-tabindex="16">
      </div>

  </div>
</div>
</form>

<div layout="row" layout-align="center center">
    <div ng-if="passo != 1">
      <md-button class="md-raised" ng-click="passoAnterior()">
        <span aria-hidden="true">&larr;</span> Anterior
      </md-button>
    </div>

    <div>
      <md-button class="md-raised md-primary" ng-click="validarDadosProfissionais('formDadosProfissionais')">Seguinte <span aria-hidden="true">&rarr;</span>
      </md-button>
    </div>
  </div> 