<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="modalSelectImob" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Escolha na lista uma de nossas imobiliárias parceiras para vínculo da análise</h4>
        </div>
        <div class="modal-body">
        
       <form name="formSelectImob" class="form form-horizontal" role="form" autocomplete="off">
       
       <div layout="row" layout-xs="column" layout-padding ng-hide="filtroImob.imobNaoParceira">      
      <div class="md-block" flex-gt-sm="50" flex-xs="100">
        <label for="cidade">Cidade</label>
        <select class="form-control" id="cidade" ng-tabindex="1" name="filtroImob.cidade" 
        	data-ng-change="listarImobiliariasPorCidade()"
          ng-model="filtroImob.cidade"  focus>
          <option value="todas">TODAS AS CIDADES</option>
          
          <optgroup label="ALAGOAS">  
          <option value="MACEIÓ">MACEIÓ</option>
          </optgroup>
          
          <optgroup label="BAHIA">  
          <option value="FEIRA DE SANTANA">FEIRA DE SANTANA</option>
          <option value="JUAZEIRO">JUAZEIRO</option>
          <option value="LAURO DE FREITAS">LAURO DE FREITAS</option>
          <option value="SALVADOR">SALVADOR</option>
          <option value="VITÓRIA DA CONQUISTA">VITÓRIA DA CONQUISTA</option>
        </optgroup>
        
         <optgroup label="DISTRITO FEDERAL">
          	<option value="BRASÍLIA">BRASÍLIA</option>
          </optgroup>
        
           <optgroup label="GOIÁS">
	          <option value="ANÁPOLIS">ANÁPOLIS</option>
	          <option value="APARECIDA DE GOIÂNIA">APARECIDA DE GOIÂNIA</option>
          	  <option value="CATALÃO">CATALÃO</option>
         	  <option value="GOIÂNIA">GOIÂNIA</option>
          	  <option value="JARAGUÁ">JARAGUÁ</option>
	          <option value="JATAÍ">JATAÍ</option>
          	  <option value="MINEIROS">MINEIROS</option>
	          <option value="RIO VERDE">RIO VERDE</option>
          	  <option value="SÃO LUÍS DOS MONTES BELOS">SÃO LUÍS DOS MONTES BELOS</option>
	          <option value="SENADOR CANEDO">SENADOR CANEDO</option>
	          <option value="TRINDADE">TRINDADE</option>
          	<option value="VALPARAÍSO DE GOIÁS">VALPARAÍSO DE GOIÁS</option>
	        </optgroup>
          
          <optgroup label="MATO GROSSO">
          	<option value="CAMPO VERDE">CAMPO VERDE</option>
          <option value="CUIABÁ">CUIABÁ</option>
          <option value="RONDONÓPOLIS">RONDONÓPOLIS</option>
          <option value="SINOP">SINOP</option>
          <option value="VÁRZEA GRANDE">VÁRZEA GRANDE</option>
          </optgroup>
        
        <optgroup label="PARÁ"> 
          <option value="MARABÁ">MARABÁ</option>
        </optgroup>
        
        <optgroup label="PERNAMBUCO"> 
           <option value="PETROLINA">PETROLINA</option>
        </optgroup>
        
        <optgroup label="SERGIPE">  
          <option value="ARACAJU">ARACAJU</option>
          </optgroup>
        
        <optgroup label="TOCANTINS"> 
          <option value="PALMAS">PALMAS</option>
        </optgroup>
        
        </select>
  </div>
 </div>
 
 
 <div layout="row" layout-xs="column" layout-padding ng-if="filtroImob.imobNaoParceira">      
      <div class="md-block" flex-gt-sm="30" flex-xs="100">
        <label for="estado">Estado</label>
        <select class="form-control" id="estado" ng-tabindex="1" name="filtroImob.estado" ng-model="filtroImob.estado">
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AM">AM</option>
          <option value="AP">AP</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF (e entorno)</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MG">MG</option>
          <option value="MT">MT</option>
          <option value="MS">MS</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="PR">PR</option>
          <option value="RO">RO</option>
          <option value="RN">RN</option>
          <option value="RJ">RJ</option>
          <option value="RR">RR</option>
          <option value="RS">RS</option>
          <option value="SE">SE</option>
           <option value="SC">SC</option>
          <option value="SP">SP</option>
          <option value="TO">TO</option>
        
        </select>
  </div>
 </div>
 
 <div layout="row" layout-xs="column" layout-padding ng-hide="filtroImob.imobNaoParceira">      
      <div class="md-block" flex-gt-sm="50" flex-xs="100">
        <label for="imob">Imobiliárias</label>
        <select class="form-control" id="imob" ng-tabindex="2" name="filtroImob.imobiliaria"
        	data-ng-options="imob as imob.fantasia for imob in listaImobiliarias | orderBy: 'fantasia'"
          ng-model="filtroImob.imobiliaria">
        </select>
  </div>
 </div>
 
 <!-- App Promocional -->
	<div layout="row" layout-xs="column" layout-padding>
		<div class="md-block" flex-gt-sm="100" flex-xs="100">
		<label  style="padding-right: 0;">Locação particular / Imobiliária não parceira:</label>
			<label 	for="imobNaoParceira">
				<input class="big-checkbox" type="checkbox" name="filtroImob.imobiliaria" style="width: 18px; height: 18px"
					id="imobNaoParceira" data-ng-model="filtroImob.imobNaoParceira">
			</label>
		</div>
	</div>
	
</form>
          
        </div>
        <div class="modal-footer">
        	<div class="form-group last">
				<div class="col-md-12 text-center margem-btn-form">
					<button type="button" class="btn btn-success" data-ng-click="selecionarImobiliaria()">OK</button>
					<!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>-->
				</div>
			</div>
        </div>
      </div>
    </div>
  </div>
</div>