
  <!-- alerta de info do tipo show hide -->
  <div class="alert alert-info" id="passwordsNoMatchRegister" style="display:none; position: absolute; z-index: 100">
    <strong>Informação!</strong> {{msgInfo}}
  </div> 

<div layout="row" ng-if="cadastro.imobiliaria.fantasia">
  <div class="col-md-12 well well-sm" style="margin-bottom: 0px;">
  <img data-ng-src="http://www.segurosja.com.br/parceiros/app/logos/{{cadastro.imobiliaria.codigo}}.jpg" height='45' border='0' alt=''>
      <label style="font-size: 13pt;">{{cadastro.imobiliaria.fantasia}} {{usuarioSolicitante}}</label>
  </div>
</div>

<div layout="row" layout-padding>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" ng-class="{'active': passo == 1}" flex-xs="15" ng-click="navegarAbas('1')">
      <a href="#" style="cursor: pointer;">
        <span class="badge">1 </span> <label hide-xs>{{getLabelEtapa('1')}}</label></a>
    </li>

    <li role="presentation" ng-class="{'active': passo == 2}" flex-xs="15" ng-click="navegarAbas('2')">
      <a href="#" style="cursor: pointer;">
        <span class="badge">2 </span> <label hide-xs>{{getLabelEtapa('2')}}</label> </a></li>

    <li role="presentation" ng-class="{'active': passo == 3}" flex-xs="15" ng-click="navegarAbas('3')">
      <a href="#" style="cursor: pointer;">
        <span class="badge">3 </span> <label hide-xs>{{getLabelEtapa('3')}} </label> </a></li>

      <li role="presentation" ng-class="{'active': passo == 4}" flex-xs="15" ng-click="navegarAbas('4')">
      <a href="#" style="cursor: pointer;">
        <span class="badge">4 </span> <label hide-xs>{{getLabelEtapa('4')}} </label> </a></li>

      <li role="presentation" ng-class="{'active': passo == 5}" flex-xs="15" ng-click="navegarAbas('5')">
      <a href="#" style="cursor: pointer;">
        <span class="badge">5 </span> <label hide-xs>{{getLabelEtapa('5')}} </label> </a></li>
    
  <li role="presentation" ng-class="{'active': passo == 6}" flex-xs="15" ng-click="verificarGravacaoParaNavegarAba('6')">
      <a href="#" style="cursor: pointer;">
        <span class="badge">6 </span> <label hide-xs>{{getLabelEtapa('6')}} </label> </a></li>
        
        <li role="presentation" ng-class="{'active': passo == 7}" flex-xs="15" ng-click="verificarGravacaoParaNavegarAba('7')">
      <a href="#" style="cursor: pointer;">
        <span class="badge">7 </span> <label hide-xs>{{getLabelEtapa('7')}} </label> </a></li>
  </ul>
</div>

  <div class="row">
      <div class="col-md-3">
        <h4><label class="label label-default"> passo {{passo}} / 6 :: {{getLabelEtapa(passo)}}</label></h4>
      </div>  
      
       <div class="col-md-9 text-right">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#pesquisaCpf" id="abrirModalAlertCadastro">Já possuo cadastro</button>
      </div>      
  </div>
  <!-- Array erros de validação -->
  <span id="listErrors">
    <div class="alert alert-warning" role="alert" ng-if="errors.length > 0">
      <div ng-repeat="erro in errors">
        <span class="glyphicon glyphicon-exclamation-sign"> </span> {{erro}}
      </div>
  </div>
</span>

<div class="borda-formulario">

    <!-- DADOS DO PRTENDENTE -->
    <div ng-if="passo == 1" class="animate-if" data-ng-include="'./src/view/formulario/dadosPretendente.html'"></div>  

    <!-- DADOS Residenciais -->
    <div ng-if="passo == 2" class="animate-if" data-ng-include="'./src/view/formulario/dadosResidenciais.html'"></div>  
   
    <!-- DADOS PROFISIONAIS -->
    <div ng-if="passo == 3" class="animate-if" data-ng-include="'./src/view/formulario/dadosProfissionais.html'"></div>

    <!-- DADOS IMOVEL -->
    <div ng-if="passo == 4" class="animate-if" data-ng-include="'./src/view/formulario/dadosImovel.html'"></div>

    <!-- DADOS PESSOAIS -->
    <div ng-if="passo == 5" class="animate-if" data-ng-include="'./src/view/formulario/dadosPessoais.html'"></div>
  
  <!-- DADOS PESSOAIS -->
    <div ng-if="passo == 6" class="animate-if" data-ng-include="'./src/view/formulario/dadosPorto.html'"></div>
    
     <!-- DADOS DO UPLOAD -->
    <div ng-if="passo == 7" class="animate-if" data-ng-include="'./src/view/formulario/dadosUpload.html'"></div>
       
   <footer ng-if="passo != 7">
      <div class="alert alert-warning">
       <span class="glyphicon glyphicon-exclamation-sign"> </span> 
       O preenchimento de todos os campos, mesmo que não obrigatórios, aumentam as chances de aprovação do cadastro.
      </div>
    </footer>
    
    <!-- Inclusão do alerta de salvamento do cadastro -->
     <div data-ng-include="'./src/view/formulario/alertaCadastro.html'"></div> 
     
     <!-- Inclusão do modal pesquisa por cpf -->
     <div data-ng-include="'./src/view/formulario/pesquisaCpf.html'"></div> 
     
     <!-- Inclusão do modal imobiliarias -->
     <div data-ng-include="'./src/view/formulario/modalImobiliarias.html'"></div> 
     
  </div>